<a href="" class="close-panel">
    <svg class="svg-icon"
        viewBox="0 0 16 16"
        style="width:16px; height:16px;">
        <use xlink:href="#close_16" />
    </svg>
</a>
<img src="{{icon}}" alt="{{ id }} icon" class="icon">
<div class="content">
    <h4>{{name}}</h4>
    <div class="details">
        {{charm}} | Units: {{num_units}}
    </div>
</div>
