<a href="" class="close-panel sprite-hover">
    <i class="sprite close_16 normal"></i>
    <i class="sprite close_hover_16 hover"></i>
</a>
<img src="{{icon}}" alt="{{ id }} icon" class="icon">
<div class="content">
    <h4>{{name}}</h4>
    <div class="details">
        {{charm}} | Units: {{num_units}}
    </div>
</div>
