<ul>
  <li>
    <span class="servicesCount">{{servicesCount}}</span><br>
    <span class="stat">{{pluralize 'service' servicesCount}}</span>
  </li>
  <li>
    <span class="unitsCount">{{unitsCount}}</span><br>
    <span class="stat">{{pluralize 'unit' unitsCount}}</span>
  </li>
  <li>
    <span class="machinesCount">{{machinesCount}}</span><br>
    <span class="stat">{{pluralize 'machine' machinesCount}}</span>
  </li>
</ul>
