{{#*inline "searchRow"}}
  <span tabindex="0" role="button" class="list-block__entity-link"
        data-id="{{storeId}}"></span>
  <div class="{{#if nameWidth}}{{nameWidth}}{{else}}four-col{{/if}} charm-name__column">
    <h3 class="list-block__list--item-title">
      {{displayName}}
      {{#if special}}
        <span class="special-flag"></span>
      {{/if}}
    </h3>
    <ul class="tag-list">
      {{#if tags}}
        {{#each tags}}
          <li class="tag-list--item"><a href="/q?tags={{this}}">{{this}}</a></li>
        {{/each}}
      {{else}}
        &nbsp;
      {{/if}}
    </ul>
  </div>
  <div class="{{#if seriesWidth}}{{seriesWidth}}{{else}}two-col{{/if}} series__column">
    {{#if series}}
      <ul class="tag-list tag-list--spaced">
        {{#each series}}
          <li class="tag-list--item"><a href="{{url}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{else}}
      {{!Add some content so the row is spaced correctly.}}
      &nbsp;
    {{/if}}
  </div>
  <div class="{{#if iconsWidth}}{{iconsWidth}}{{else}}three-col{{/if}} charm-logos__column list-block__column">
    <ul class="list-icons clearfix">
      {{#each services}}
        <li class="list-icons__item">
          <a href="{{url}}">
            {{#compare index 20 operator='>'}}
              <p>
                <span class="tip">
                  {{#if iconPath}}
                    <img class="icon-scroll list-icons__image"
                         data-icon="{{ iconPath }}"
                         src="{{../STATIC_URL}}img/icons/default-charm.svg"
                         alt="{{displayName}} icon" />
                  {{else}}
                    <img class="list-icons__image"
                         src="{{../STATIC_URL}}img/icons/default-charm.svg"
                         alt="{{displayName}} icon" />
                  {{/if}}
                  <span class="tip-content" data-tooltip="{{ displayName }}"></span>
                </span>
              </p>
            {{else}}
              <p>
                <span class="tip">
                  <img src="{{#if iconPath}}{{iconPath}}{{else}}{{../STATIC_URL}}img/icons/default-charm.svg{{/if}}"
                       class="list-icons__image"
                       alt="{{displayName}} icon" />
                  <span class="tip-content" data-tooltip="{{displayName}}"></span>
                </span>
              </p>
            {{/compare}}
          </a>
        </li>
      {{else}}
        <li class="list-icons__item">
          <a href="{{ url }}">
            {{#compare index 20 operator='>'}}
              <p>
                <span class="tip">
                  {{#if iconPath}}
                  <img class="icon-scroll list-icons__image"
                       data-icon="{{iconPath}}"
                       src="{{../STATIC_URL}}img/icons/default-charm.svg"
                       alt="{{displayName}} icon" />
                  {{else}}
                  <img src="{{../STATIC_URL}}img/icons/default-charm.svg"
                       class="list-icons__image"
                       alt="{{displayName}} icon" />
                  {{/if}}
                  <span class="tip-content" data-tooltip="{{displayName}}"></span>
                </span>
              </p>
            {{else}}
              <p>
                <span class="tip">
                  <img src="{{#if iconPath}}{{iconPath}}{{else}}{{../STATIC_URL}}img/icons/default-charm.svg{{/if}}" class="list-icons__image" alt="{{displayName}} icon" />
                  <span class="tip-content" data-tooltip="{{displayName}}"></span>
                </span>
              </p>
            {{/compare}}
          </a>
        </li>
      {{/each}}
      </ul>
  </div>
  <div class="one-col deploys__column list-block__column">
    <p class="cell">
      <span class="tip">
        <span>{{downloads}}</span>
        <span class="tip-content" data-tooltip="{{downloads}} deploys"></span>
      </span>
    </p>
  </div>
  <div class="two-col owner__column list-block__column last-col">
    <p class="cell">
      {{#if owner}}
        {{owner}}
      {{else}}
        'No owner'
      {{/if}}
    </p>
  </div>
{{/inline}}


{{#if promulgatedResultsCount}}
  <h4>Community recommended <span class="count">({{promulgatedResultsCount}})</span></h4>
  <ul class="list-block__list promulgated">
    {{#each promulgatedResults}}
      <li class="list-block__list--item {{type}}">
      {{> searchRow index=@index}}
      </li>
    {{/each}}
  </ul>
{{/if}}
{{#if normalResultsCount}}
  <h4>Recommended <span class="count">({{normalResultsCount}})</span></h4>
  <ul class="list-block__list">
    {{#each normalResults}}
      <li class="list-block__list--item {{type}}">
      {{> searchRow index=@index}}
      </li>
    {{/each}}
  </ul>
{{/if}}
