<div class="service">
  <img class="icon" src="{{service.icon}}" title="{{service.name}}" alt="{{service.name}}">
  <div class="name">{{service.name}}</div>
  <div class="unitCount">({{service.unit_count}})</div>
  <a class="action" data-action="{{#if visible}}fade{{else}}show{{/if}}" title="{{#if visible}}Fade{{else}}Show{{/if}} the service">
    <i class="sprite inspector_status"></i>
  </a>
  <a class="action" data-action="{{#if highlight}}unhighlight{{else}}highlight{{/if}}" title="{{#if highlight}}Unhighlight{{else}}Highlight{{/if}} the service">
    <i class="sprite inspector_relations"></i>
  </a>
</div>
