<div class="service sprite-hover">
  <img class="icon" src="{{service.icon}}" title="{{service.name}}" alt="{{service.name}}">
  <div class="name">{{service.name}}</div>
  <div class="unit-count">({{service.unit_count}})</div>
  <a class="action"
     data-action="{{#if service.fade}}show{{else}}fade{{/if}}"
     title="{{#if service.fade}}Show{{else}}Fade{{/if}} the service">
        {{#if service.fade}}
            <i class="sprite hide_16 normal"></i>
            <i class="sprite hide_hover_16 hover"></i>
        {{else}}
            <i class="sprite show_16 normal"></i>
            <i class="sprite show_hover_16 hover"></i>
        {{/if}}
  </a>
  <a class="action"
     data-action="{{#if service.highlight}}unhighlight{{else}}highlight{{/if}}"
     title="{{#if service.highlight}}Unhighlight{{else}}Highlight{{/if}} the service">
       {{#if service.highlight}}
           <i class="sprite highlight_on_16 normal"></i>
           <i class="sprite highlight_on_hover_16 hover"></i>
       {{else}}
           <i class="sprite highlight_off_16 normal"></i>
           <i class="sprite highlight_off_hover_16 hover"></i>
       {{/if}}
  </a>
</div>
