<div class="service">
  <img class="icon" src="{{service.icon}}" title="{{service.name}}" alt="{{service.name}}">
  <div class="name">{{service.name}}</div>
  <div class="unitCount">({{service.unit_count}})</div>
  <a class="action">
    <i class="sprite inspector_status {{#if visible}}active{{/if}}"></i>
  </a>
  <a class="action">
    <i class="sprite inspector_relations {{#if highlight}}active{{/if}}"></i>
  </a>
</div>
