<h3>Charm Features</h3>

<p>
    Charm reviewers verify that recommended charms conform to <a
    href="https://juju.ubuntu.com/docs/authors-charm-policy.html">the
    requirements listed by the Charm Store Policy</a>.  Additionally,
    reviewers evaluate charms using <a href="https://juju.ubuntu.com/docs
    /authors-charm-quality.html">a standardized feature list</a>. This list
    includes data handling, security, reliability, flexibility, and other
    capabilities.
</p>
{{#if totalScore}}
    <p>
        <strong>This recommended charm provides {{totalScore}} standardized features out
        of a maximum of the {{totalAvailable}} listed below.</strong>
    </p>

    <div class="qa_data">
        {{#each questions}}
            <h3>{{description}}: <span class="heading-notes">{{score}}/{{questions.length}} features</span></h3>

            <ul>
                {{#each questions}}
                    <li {{#if score}}class="checked"{{/if}}>
                        {{description}}
                    </li>
                {{/each}}
            </ul>
        {{/each}}
    </div>

{{else}}
    {{#if charm.is_approved}}
        <p class="no-qa-reviewed">
            <strong>Reviewers will identify the standardized features of this
            recommended charm soon.</strong>
        </p>
    {{else}}
        <p class="no-qa-unreviewed">
            <strong>This charm is not yet recommended and so reviewers have
            not evaluated it for the standardized feature list.</strong>
        </p>

    {{/if}}

{{/if}}
