<div class="charm yui3-g">
    <div class="content yui3-u-{{#if isFullscreen}}3-4{{else}}1{{/if}}">
        <div class="nav">
            <a href="" class="back">
                {{#if isFullscreen}}
                    <img src="/juju-ui/assets/images/browser_back_button_arrow.png"
                        alt="&lt;" />Back
                {{else}}
                    Close
                {{/if}}
            </a>
            {{! The add class is used by the deploy method in
                test/test_charm_running.py.  If you change this name, change
                the other one too! }}
            <a href="" class="add">Add</a>
            {{#if shareFlag}}
              <a href="" class="share">
                  <img src="/juju-ui/assets/images/browser_share_button_icon.png"
                      alt="Share" />Share
              </a>
            {{/if}}
        </div>

        {{#if failingProviders}}
            <div class="provider-warning"><i class="sprite alert_icon2"></i>
                <span>Currently fails on</span>
                {{#failingProviders}}
                    <img src="/juju-ui/assets/images/provider_icons/provider-{{.}}.svg"
                        title="tests currently fail on {{.}}"/>
                {{/failingProviders}}
            </div>
        {{/if}}

        <div class="heading yui3-g">
            <div class="yui3-u">
                {{#if is_approved}}
                    <span class="badge-approved"
                        title="This charm has been reviewed."></span>
                {{/if}}

                {{#if shouldShowIcon}}
                    <img src="{{charmFilePath id 'icon.svg'}}" alt="{{ name }} icon" class="icon">
                {{else}}
                    {{#if mainCategory}}
                      <div title="category {{mainCategory}}"
                          class="category-icon sprite charm-{{mainCategory}}-160">
                      </div>
                    {{else}}
                      <div class="charm-icon">
                      </div>
                    {{/if}}
                {{/if}}
            </div>
            <div class="charm-details yui3-u-1-2">
                <h1>{{ name }}</h1>
                <dl>
                    <dt>Recent activity</dt>
                    <dd>
                        <strong>{{ recent_download_count }}</strong>
                        {{pluralize 'download' recent_download_count}},
                        <strong>{{ recent_commit_count }}</strong>
                        {{pluralize 'commit' recent_commit_count}}
                    </dd>
                    <dt>Ubuntu series</dt>
                    <dd>{{ distro_series }}</dd>
                    <dt>Location</dt>
                    <dd>{{ url }}</dd>
                    <dt>Links</dt>
                    <dd>
                        <a href="{{ sourceLink }}">Source</a>
                        <a href="{{ code_source.bugs_link }}">Bugs</a>
                    </dd>
                </dl>
            </div>
        </div>

        <div class="summary">
            <h2>Summary</h2>
            <p>{{ summary }}</p>
            <h2>Description</h2>
            <p>
                {{#if isFullscreen}}
                    {{ description }}
                {{else}}
                    {{ truncate description 300 }}
                {{/if}}
            </p>
        </div>

        <div class="changelog">
            <h3 class="section-title">
                {{#if recent_commits}}
                    <a href="" class="expandToggle" data-state="closed">
                {{/if}}
                Change log
                {{#if recent_commits}}
                        <span class="expand">
                            <span class="more">
                                <img src="/juju-ui/assets/images/expand_icon.png"
                                    alt="Expand" />
                            </span>
                            <span class="less hidden">
                                <img src="/juju-ui/assets/images/contract_icon.png"
                                    alt="Contract" />
                            </span>
                        </span>
                    </a>
                {{/if}}
            </h3>
            {{#if recent_commits}}
                <div class="first">
                    <p>
                        Latest change:
                        <span class="date">
                            {{prettyCommits.first.prettyDate}}
                        </span>
                        {{prettyCommits.first.author.name}}
                        {{prettyCommits.first.message}} -
                        <a href="{{ prettyCommits.first.revnoLink }}">
                          REVNO{{prettyCommits.first.revno}}
                        </a>
                    </p>
                </div>
                <div class="remaining hidden">
                    <p class="maintainer">
                        Maintained by {{ maintainer.name }}
                    </p>
                    <h4>Earlier changes</h4>
                    <ul>
                        {{#prettyCommits.remaining}}
                            <li>
                                <span class="date">{{prettyDate}}</span>
                                {{author.name}} {{message}} -
                                <a href="{{ revnoLink }}">REVNO{{revno}}</a>
                            </li>
                        {{/prettyCommits.remaining}}
                    </ul>
                </div>
            {{else}}
                <p>No change history exists.</p>
            {{/if}}
        </div>

        <div class="tabs">
            <ul>
                <li><a href="#bws-readme" class="bws-readme">Readme</a></li>
                <li><a href="#bws-interfaces" class="bws-interfaces">Interfaces</a></li>
                <li><a href="#bws-configuration" class="bws-configuration">Configuration</a></li>
                <li><a href="#bws-qa" class="bws-qa">Quality</a></li>
                <li><a href="#bws-hooks" class="bws-hooks">Hooks</a></li>
            </ul>
            <div>
                <div id="bws-readme">Readme</div>
                <div id="bws-interfaces">
                    <p class="intro">
                        Interfaces determine how this charm relates to other charms. A relationship between charms can only be made if they share a common interface.
                        {{#if interfaceIntro.noRequiresNoProvides}}
                            <br />
                            <br />
                            This charm does not have any interfaces.
                        {{/if}}
                        {{#if interfaceIntro.noRequiresOneProvides}}
                            This charm provides only one interface to another charm.
                        {{/if}}
                        {{#if interfaceIntro.noRequiresManyProvides}}
                            This charm requires no interfaces to be provided by other charms, but provides several interfaces that can be used by other charms.
                        {{/if}}
                        {{#if interfaceIntro.oneRequiresNoProvides}}
                            This charm requires only one interface to be provided by another charm.
                        {{/if}}
                        {{#if interfaceIntro.oneRequiresOneProvides}}
                            This charm requires only one interface to be provided by another charm. Similarly, this charm provides one interface that can be used by other charms.
                        {{/if}}
                        {{#if interfaceIntro.oneRequiresManyProvides}}
                            This charm requires only one interface to be provided by another charm, but provides several interfaces that can be used by other charms.
                        {{/if}}
                        {{#if interfaceIntro.manyRequiresNoProvides}}
                            This charm requires certain interfaces to be provided by other charms, but provides no interfaces itself.
                        {{/if}}
                        {{#if interfaceIntro.manyRequiresOneProvides}}
                            This charm requires certain interfaces to be provided by other charms, but provides only one interface to another charm.
                        {{/if}}
                        {{#if interfaceIntro.manyRequiresManyProvides}}
                            This charm requires certain interfaces to be provided by other charms. Similarly, this charm provides other interfaces that can be used by other charms.
                        {{/if}}
                    </p>
                    {{#if requires}}
                        <div class="yui3-g">
                            <div class="interfaces-heading yui3-u-1-3">
                                <h3>Requires</h3>
                            </div>
                            <div class="interfaces-heading yui3-u-1-3">
                                <h3>Related charms</h3>
                            </div>
                            <div class="yui3-u-1-3">
                            </div>

                            <ul class="interface-list yui3-u-1">
                                {{#arrayObject requires}}
                                    <li class="interface-row yui3-g">
                                        <div class="interface yui3-u-1-2">
                                            <h4>{{value.interface}}</h4>
                                            <div>{{key}}</div>
                                        </div>

                                        <div class="related yui3-u-1-2" data-interface="provides-{{value.interface}}">
                                        </div>
                                    </li>
                                {{/arrayObject}}
                            </ul>
                        </div>
                    {{/if}}
                    {{#if provides}}
                        <div class="yui3-g">
                            <div class="interfaces-heading yui3-u-1">
                                <h3>Provides</h3>
                            </div>
                        </div>
                        <ul class="interface-list">
                            {{#arrayObject provides}}
                                <li class="interface-row yui3-g">
                                    <div class="interface yui3-u-1-2">
                                        <h4>{{value.interface}}</h4>
                                        <div>{{key}}</div>
                                    </div>

                                    <div class="related yui3-u-1-2" data-interface="requires-{{value.interface}}">
                                    </div>
                                </li>
                            {{/arrayObject}}
                        </ul>
                    {{/if}}
                </div>
                <div id="bws-configuration">
                    <p class="intro">
                        These are the ways in which you can configure this
                        charm to best suit your deployment. You can change the
                        default configuration settings either before or after
                        you have deployed the charm, if necessary.
                    </p>
                    {{#if options}}
                        <dl>
                            {{#arrayObject options}}
                                <dt>
                                    <dfn>{{key}}</dfn>
                                    <em>{{value.type}}</em>
                                </dt>
                                <dd>
                                    <div>Default: {{value.default}}</div>
                                    <p>{{value.description}}</p>
                                </dd>
                            {{/arrayObject}}
                        </dl>
                    {{else}}
                      <p>This charm does not expose any configuration options.</p>
                    {{/if}}
                </div>
                <div id="bws-qa">Quality</div>
                <div id="bws-hooks">
                    <p class="intro">
                        Hooks are the pieces of code that comprise the charm.
                        A particular hook responds to specific events that Juju
                        gives the charm, e.g. when there’s a change in the
                        environment or an administrator has made a change to
                        its configuration. Hooks are of interest mainly to
                        charm authors and advanced users. Select a hook below
                        to view its code.
                    </p>
                    <select>
                        <option>Select --</option>
                        {{#each files}}
                            <option value="{{ . }}">{{ . }}</option>
                        {{/each}}
                    </select>
                    <div class="filecontent">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if isFullscreen}}
        <div class="content-sidebar yui3-u-1-4">
            <h3>Useful links</h3>
            <ul class="vertical-links">
                <li><a href="">Juju community</a></li>
                <li><a href="">Online resources</a></li>
                <li><a href="">Write your own Charm</a></li>
                <li><a href="">Contribute to this Charm</a></li>
            </ul>

            <div class="related-charms">
            </div>
        </div>

    {{/if}}
</div>
