<h3>Quality Rating: {{totalScore}}/{{totalAvailable}}</h3>

<p>
    This charm has scored {{totalScore}} out of a maximum of {{totalAvailable}}
    points on the criteria below. Note that no charm today comes close to 
    scoring full points. The scoring criteria form an ideal list which also 
    helps guide contributors to where they can best spend their time 
    fixing something.
</p>

<div class="qa_data">
    {{#each questions}}
        <h3>{{description}}: <span class="heading-notes">{{score}}/{{questions.length}} points</span></h3>

        <ul>
            {{#each questions}}
                <li {{#if score}}class="checked"{{/if}}>
                    {{description}}
                </li>
            {{/each}}
        </ul>
    {{/each}}
</div>
