<div class="charm">
    <div class="nav">
        <a href="" class="back">Back</a>
        <input class="add" type="button" value="Add" />
        <a href="" class="share">
            <img src="/juju-ui/assets/images/share_icon.jpg" alt="Share" />
        </a>
    </div>

    <div class="heading yui3-g">
        <div class="yui3-u">
            <img src="data:image/svg;base64,{{ icon }}" alt="{{ name }} icon">
        </div>
        <div class="charm-details yui3-u-1-2">
            <h1>{{ name }}</h1>
            <div class="providers">
                <img src="/juju-ui/assets/images/provider_icons/provider-lxc02.svg"
                    alt="Provider name" />
                <img src="/juju-ui/assets/images/provider_icons/provider-openstack.svg"
                    alt="Provider name" />
                <img src="/juju-ui/assets/images/provider_icons/provider-hp.svg"
                    alt="Provider name" />
                <img src="/juju-ui/assets/images/provider_icons/provider-aws.svg"
                    alt="Provider name" />
                <img src="/juju-ui/assets/images/provider_icons/provider-maas.svg"
                    alt="Provider name" />
            </div>
            <dl>
                <dt>Activity (30 days)</dt>
                <dd>
                    <img src="/juju-ui/assets/images/charm_downloads_icon.jpg"
                        alt="Minimize" />
                    {{ downloads_in_past_30_days }}
                    <img src="/juju-ui/assets/images/charm_commits_icon.jpg"
                        alt="Minimize" />
                    --
                </dd>
                <dt>Ubuntu series</dt>
                <dd>{{ distro_series }}</dd>
                <dt>Location</dt>
                <dd>{{ url }}</dd>
                <dt>Links</dt>
                <dd>
                    <a href="#">Source</a>
                    <a href="{{ code_source.bugs_link }}">Bugs</a>
                </dd>
            </dl>
        </div>
    </div>

    <div class="summary">
        <h2>Summary</h2>
        {{ summary }}
        <h2>Description</h2>
        {{ description }}
    </div>

    <div class="changelog">
        <span class="toggle">Open Log</span>
    </div>

    <div class="changelog">
    </div>

    <div class="tabs">
        <ul>
            <li><a href="#bws-readme" class="bws-readme">Readme</a></li>
            <li><a href="#bws_interfaces" class="bws_interfaces">Interfaces</a></li>
            <li><a href="#bws_configuration" class="bws_configuration">Configuration</a></li>
            <li><a href="#bws_qa" class="bws_qa">Quality</a></li>
            <li><a href="#bws_hooks" class="bws_hooks">Hooks</a></li>
        </ul>
        <div>
            <div id="bws-readme">Readme</div>
            <div id="bws_interfaces">
                <p class="intro">
                    Interfaces determine how this charm relates to other 
                    charms. A relationship between charms can only be made if 
                    they share a common interface. This charm requires certain 
                    interfaces to be provided by other charms. Similarly, this 
                    charm provides other interfaces that can be used by 
                    other charms.
                </p>
                <div class="yui3-g">
                    <div class="interfaces-heading yui3-u-1-3">
                        <h3>Requires</h3>
                    </div>
                    <div class="interfaces-heading yui3-u-2-3">
                        <h3>Related Charms</h3>
                    </div>
                </div>
                {{#if requires}}
                    <ul class="interface-list">
                        {{#arrayObject requires}}
                            <li class="interface-row yui3-g">
                                <div class="interface yui3-u-1-3">
                                    <h4>{{value.interface}}</h4>
                                    <div>{{key}}</div>
                                </div>
                                <div class="related yui3-u-2-3">
                                    &hellip;no related charms yet
                                </div>
                            </li>
                        {{/arrayObject}}
                    </ul>
                {{else}}
                    <p>This charm does not require any interfaces.</p>
                {{/if}}
                <div class="yui3-g">
                    <div class="interfaces-heading yui3-u-1-3">
                        <h3>Provides</h3>
                    </div>
                    <div class="interfaces-heading yui3-u-2-3">
                        <h3>Related Charms</h3>
                    </div>
                </div>
                {{#if provides}}
                    <ul class="interface-list">
                        {{#arrayObject provides}}
                            <li class="interface-row yui3-g">
                                <div class="interface yui3-u-1-3">
                                    <h4>{{value.interface}}</h4>
                                    <div>{{key}}</div>
                                </div>
                                <div class="related yui3-u-2-3">
                                    &hellip;no related charms yet
                                </div>
                            </li>
                        {{/arrayObject}}
                    </ul>
                {{else}}
                    <p>This charm does not provide any interfaces.</p>
                {{/if}}
            </div>
            <div id="bws_configuration">
                {{#if options}}
                    <dl>
                        {{#arrayObject options}}
                            <dt>
                                <dfn>{{key}}</dfn>
                                <em>{{value.type}}</em>
                            </dt>
                            <dd>
                                <div>{{value.description}}</div>
                                <div>Default: {{value.default}}</div>
                            </dd>
                        {{/arrayObject}}
                    </dl>
                {{else}}
                  <p>This charm does not expose any configuration options.</p>
                {{/if}}
            </div>
            <div id="bws_qa">Quality</div>
            <div id="bws_hooks">
                <select>
                    <option>--</option>
                    {{#each files}}
                        <option value="{{ . }}">{{ . }}</option>
                    {{/each}}
                </select>
                <div class="filecontent">
                    Select a file from the list to view.
                </div>
            </div>
        </div>
    </div>

</div>
