<div class="charm">
    <div class="nav">
        <a href="" class="back">Back</a>
        <input class="add" type="button" value="Add" />
        <a href="" class="share">
            <img src="/juju-ui/assets/images/share_icon.jpg" alt="Share" />
        </a>
    </div>

    <div class="heading yui3-g">
        <div class="yui3-u">
            <img src="data:image/svg;base64,{{ icon }}" alt="{{ name }} icon">
        </div>
        <div class="charm-details yui3-u-1-2">
            <h1>{{ name }}</h1>
            <div class="providers">
                <img src="/juju-ui/assets/images/provider_icons/provider-lxc02.svg"
                    alt="Provider name" />
                <img src="/juju-ui/assets/images/provider_icons/provider-openstack.svg"
                    alt="Provider name" />
                <img src="/juju-ui/assets/images/provider_icons/provider-hp.svg"
                    alt="Provider name" />
                <img src="/juju-ui/assets/images/provider_icons/provider-aws.svg"
                    alt="Provider name" />
                <img src="/juju-ui/assets/images/provider_icons/provider-maas.svg"
                    alt="Provider name" />
            </div>
            <dl>
                <dt>Activity (30 days)</dt>
                <dd>
                    <img src="/juju-ui/assets/images/charm_downloads_icon.jpg"
                        alt="Minimize" />
                    {{ downloads_in_past_30_days }}
                    <img src="/juju-ui/assets/images/charm_commits_icon.jpg"
                        alt="Minimize" />
                    --
                </dd>
                <dt>Ubuntu series</dt>
                <dd>{{ distro_series }}</dd>
                <dt>Location</dt>
                <dd>{{ url }}</dd>
                <dt>Links</dt>
                <dd>
                    <a href="#">Source</a>
                    <a href="{{ code_source.bugs_link }}">Bugs</a>
                </dd>
            </dl>
        </div>
    </div>

    <div class="summary">
        <h2>Summary</h2>
        {{ summary }}
        <h2>Description</h2>
        {{ description }}
    </div>

    <div class="changelog">
        <span class="toggle">Open Log</span>
    </div>

    <div class="changelog">
    </div>

    <div class="tabs">
        <ul>
            <li><a href="#bws-readme" class="bws-readme">Readme</a></li>
            <li><a href="#bws_interfaces" class="bws_interfaces">Interfaces</a></li>
            <li><a href="#bws_configuration" class="bws_configuration">Configuration</a></li>
            <li><a href="#bws_qa" class="bws_qa">Quality</a></li>
            <li><a href="#bws_hooks" class="bws_hooks">Hooks</a></li>
        </ul>
        <div>
            <div id="bws-readme">Readme</div>
            <div id="bws_interfaces">Interfaces</div>
            <div id="bws_configuration">
                {{#if config}}
                  <dl>
                  {{#config}}
                      <dt><dfn>{{name}}</dfn> <em>({{type}})</em>
                      <dd>{{description}}</dd>
                      <dd>Default: {{default}}</dd>
                  {{/config}}
                  </dl>
                {{else}}
                  <p>This charm does not expose any configuration options.</p>
                {{/if}}
            </div>
            <div id="bws_qa">Quality</div>
            <div id="bws_hooks">
                <div class="yui3-g-r">
                    <div class="yui3-u-1-4">
                        <ul>
                        {{#each files}}
                        <li><a>{{ . }}</a></li>
                        {{/each}}
                        </ul>
                    </div>
                    <div class="yui3-u-3-4">
                        <div class="filecontent">
                          Select a file from the list to view.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
