<div class="bundle">
    <div class="content">
        {{#unless forInspector}}
            <div class="header">
                {{#if is_approved}}
                    <div class="recommended">
                        <i class="sprite recommended-triangle-large"></i>
                    </div>
                {{/if}}
                <a href="" class="back icon">
                    <i class="sprite panel_close"></i>
                </a>
                <div class="block-icon">
                    <img src="{{charmIconPath id true}}" alt="{{ name }} icon" class="icon">
                </div>
                <div class="details">
                    <h1>{{ name }}</h1>
                    <div class="notifier-box hidden bundle">
                        <div class="yui3-notifier-content bottom-arrow">
                            This bundle will be deployed to your provider immediately
                        </div>
                    </div>
                    <div class="add-reviewed">
                        <a href="" class="add deploy">Deploy this bundle</a>
                    </div>
                    <ul>
                        <li>Deployed {{downloads}} {{pluralize 'time' downloads}}</li>
                        <li>
                            {{serviceCount}}
                            {{pluralize 'service' serviceCount}} |
                            {{unitCount}} {{pluralize 'unit' unitCount}}
                        </li>
                        <li>
                            {{#if is_approved}}
                                Recommended
                            {{else}}
                                {{owner}}
                            {{/if}}
                            <span class="push-left">Location: {{permanent_url}}</span>
                        </li>
                    </ul>
                    <div class="charms">
                        {{#charmIcons}}
                            <img src="{{charmIconPath id}}" alt="{{name}} icon"/>
                        {{/charmIcons}}
                    </div>
                </div>
            </div>
        {{/unless}}

        <div class="tabs">
            <ul>
                <li><a href="#bws-bundle" class="bundle">Bundle</a></li>
                <li><a href="#bws-readme" class="readme">Readme</a></li>
                <li><a href="#bws-deploy" class="deploy">Deploy</a></li>
                <li><a href="#bws-summary" class="summary">Summary</a></li>
                <li><a href="#bws-services" class="services">Services</a></li>
                <li><a href="#bws-code" class="code">Code</a></li>
            </ul>
            <div>
                <div id="bws-bundle"></div>
                <div id="bws-readme"></div>
                <div id="bws-deploy">
                    <p>Deploying a bundle will ask your cloud provider to immediately provision all associated machines.</p>
                    <h3>Deploy via the GUI</h3>
                    <p>Click the 'Deploy this bundle' button above, or drag the bundle listing from the search results onto the canvas.</p>
                    <h3>Deploy via quickstart</h3>
                    <p>The quickstart plugin for Juju is an opinionated tool that helps you start Juju quickly and easily.  These commands will help you deploy the bundle to a cloud.</p>
                    <p>Step 1 - Install quickstart
                        <pre>sudo add-apt-repository ppa:juju/stable</pre>
                        <pre>sudo apt-get update</pre>
                        <pre>sudo apt-get install juju-quickstart</pre>
                    </p>
                    <p>Step 2 - Deploy bundle
                        <pre>juju quickstart {{permanent_url}} [-e &lt;JUJU_ENV&gt;]</pre>
                    </p>
                    <h3>Deploy via the deployer</h3>
                    <p>The Juju deployer is a tool that the quickstart plugin (above) uses.  It can also be used standalone to give you more control.</p>
                    <p>Step 1 - Install the deployer
                        <pre>sudo add-apt-repository ppa:juju/stable</pre>
                        <pre>sudo apt-get update</pre>
                        <pre>sudo apt-get install juju-deployer</pre>
                    </p>
                    <p>Step 2 - Deploy bundle
                        <pre>juju deployer -e &lt;JUJU_ENV&gt; -c \</pre>
                        <pre>    {{deployer_file_url}}</pre></p>
                </div>
                <div id="bws-summary">
                    <div class="summary">
                        {{>providers}}
                        <h2>Description</h2>
                        {{#if description}}
                            <p class="respect-whitespace">{{linkify description}}</p>
                        {{else}}
                            <p>No description</p>
                        {{/if}}
                    </div>
                    <div class="changelog">
                        <h3 class="section-title">
                            {{#if recentCommits}}
                                <a href="" class="expandToggle"
                                    data-state="closed">
                            {{/if}}
                            Change log
                            {{#if recentCommits}}
                                    <span class="expand">
                                        <i class="sprite expand_icon more"></i>
                                        <i class="sprite contract_icon less hidden"></i>
                                    </span>
                                </a>
                            {{/if}}
                        </h3>
                        {{#if recentCommits}}
                            <div class="first">
                                <p>
                                    Latest change:
                                    <em class="date">
                                        {{prettyCommits.first.prettyDate}}
                                    </em>
                                    <em>{{prettyCommits.first.author.name}}</em>
                                    <span class="respect-whitespace">{{linkify prettyCommits.first.message}}</span> -
                                    <a href="{{ prettyCommits.first.revnoLink }}">
                                      REVNO{{prettyCommits.first.revno}}
                                    </a>
                                </p>
                            </div>
                            <div class="remaining hidden">
                                <h4>Earlier changes</h4>
                                <ul>
                                    {{#prettyCommits.remaining}}
                                        <li>
                                            <p>
                                                <em class="date">
                                                    {{prettyDate}}
                                                </em>
                                                <em>{{author.name}}</em>
                                                <span class="respect-whitespace">{{linkify message}}</span> -
                                                <a href="{{ revnoLink }}">
                                                    REVNO{{revno}}
                                                </a>
                                            </p>
                                        </li>
                                    {{/prettyCommits.remaining}}
                                </ul>
                            </div>
                        {{else}}
                            <p>No change history exists.</p>
                        {{/if}}
                    </div>
                </div>
                <div id="bws-services">
                    <p>
                        These are the services that the bundle will deploy.
                        Non-default configuration values are listed.
                    </p>
                    <div class="yui3-g">
                        <div class="interfaces-heading yui3-u-1-2">
                            <h3>Charm</h3>
                        </div>
                        <div class="interfaces-heading yui3-u-1-2">
                            <h3>Config</h3>
                        </div>
                    </div>
                    <ul class="interface-list">
                        {{#each services}}
                            <li class="interface-row yui3-g">
                                <div class="yui3-u-1-2" data-config="{{ origService.name }}"></div>
                                <div class="yui3-u-1-2 charm-config">
                                    <ul>
                                        <li>Service name: {{ origService.name }}</li>
                                        {{#unless charmModel.is_subordinate}}
                                            <li>

                                                Number of units:
                                                {{#if origService.data.num_units }}
                                                    {{ origService.data.num_units }}
                                                {{else}}
                                                    1
                                                {{/if}}

                                            </li>
                                        {{/unless}}
                                        {{#if origService.options}}
                                            {{#arrayObject origService.options}}
                                                <li>{{ key }}: {{ value }}</li>
                                            {{/arrayObject}}
                                        {{/if}}
                                    </ul>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div id="bws-code">
                    <p class="intro">
                        The source code of the bundle includes scripts, metadata,
                        and other supporting files to describe and install a
                        service.
                    </p>
                    <p>
                        The source code for the bundle has been extracted from the deployer file. Please see the branch for the full, unprocessed deployer file.

                        <pre>bzr branch {{sourceLink}}</pre>
                    </p>
                    <p class="intro">
                        <a href="https://juju.ubuntu.com/docs/authors-charm-store.html"
                        target="help">Please contribute to this bundle!</a>
                    </p>
                    <p class="intro">
                        Select a file below to view the contents.
                    </p>
                    <select>
                        <option>Select --</option>
                        {{#each files}}
                            <option value="{{ . }}">{{ . }}</option>
                        {{/each}}
                    </select>
                    <div class="filecontent">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
