<div class="bundle">
    <div class="content">
        {{#unless forInspector}}
            <div class="header">
                <a href="" class="back icon"></a>
                <div class="block-icon">
                    <img src="{{charmIconPath id true}}" alt="{{ name }} icon" class="icon">
                </div>
                <div class="details">
                    <h1>{{ name }}</h1>
                    <div class="add-reviewed">
                        <a href="" class="add">Deploy this bundle</a>
                    </div>
                    <ul>
                        <li>
                            {{serviceCount}}
                            {{pluralize 'service' serviceCount}} |
                            {{unitCount}} {{pluralize 'unit' unitCount}}
                        </li>
                        <li>
                            {{#if is_approved}}
                                Recommended
                            {{else}}
                                {{owner}}
                            {{/if}}
                        </li>
                    </ul>
                    <div class="charms">
                        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                                 alt="[charm name]">
                        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                                 alt="[charm name]">
                        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                                 alt="[charm name]">
                        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                                 alt="[charm name]">
                        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                                 alt="[charm name]">
                        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                                 alt="[charm name]">
                        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                                 alt="[charm name]">
                        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                                 alt="[charm name]">
                        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                                 alt="[charm name]">
                        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                                 alt="[charm name]">
                    </div>
                </div>
            </div>
        {{/unless}}

        <div class="tabs">
            <ul>
                <li><a href="#bws-bundle" class="bundle">Bundle</a></li>
                <li><a href="#bws-summary" class="summary">Summary</a></li>
                <li><a href="#bws-readme" class="readme">Readme</a></li>
                <li><a href="#bws-charms" class="charms">Charms</a></li>
            </ul>
            <div>
                <div id="bws-bundle"></div>
                <div id="bws-summary">
                    <div class="summary">
                        {{>providers}}
                        <h2>Description</h2>
                        {{#if description}}
                            <p class="respect-whitespace">{{ truncate description 300 }}</p>
                        {{else}}
                            <p>No description</p>
                        {{/if}}
                    </div>
                    <h2>Charms within this bundle</h2>
                    [Charm list to go here]
                    <div class="changelog">
                        <h3 class="section-title">
                            {{#if recent_commits}}
                                <a href="" class="expandToggle"
                                    data-state="closed">
                            {{/if}}
                            Change log
                            {{#if recent_commits}}
                                    <span class="expand">
                                        <span class="more">
                                            <img src="/juju-ui/assets/images/expand_icon.png"
                                                alt="Expand" />
                                        </span>
                                        <span class="less hidden">
                                            <img src="/juju-ui/assets/images/contract_icon.png"
                                                alt="Contract" />
                                        </span>
                                    </span>
                                </a>
                            {{/if}}
                        </h3>
                        {{#if recent_commits}}
                            <div class="first">
                                <p>
                                    Latest change:
                                    <span class="date">
                                        {{prettyCommits.first.prettyDate}}
                                    </span>
                                    <strong>{{prettyCommits.first.author.name}}</strong>
                                    <span class="respect-whitespace">{{prettyCommits.first.message}}</span> -
                                    <a href="{{ prettyCommits.first.revnoLink }}">
                                      REVNO{{prettyCommits.first.revno}}
                                    </a>
                                </p>
                            </div>
                            <div class="remaining hidden">
                                <p class="maintainer">
                                    Maintained by {{ maintainer.name }}
                                </p>
                                <h4>Earlier changes</h4>
                                <ul>
                                    {{#prettyCommits.remaining}}
                                        <li>
                                            <p>
                                                <span class="date">
                                                    {{prettyDate}}
                                                </span>
                                                <strong>{{author.name}}</strong>
                                                <span class="respect-whitespace">{{message}}</span> -
                                                <a href="{{ revnoLink }}">
                                                    REVNO{{revno}}
                                                </a>
                                            </p>
                                        </li>
                                    {{/prettyCommits.remaining}}
                                </ul>
                            </div>
                        {{else}}
                            <p>No change history exists.</p>
                        {{/if}}
                    </div>
                </div>
                <div id="bws-readme"></div>
                <div id="bws-charms"></div>
            </div>
        </div>
    </div>
</div>
