<a href="" class="close-panel">
    <i class="sprite close-light"></i>
</a>
<img src="{{icon}}" alt="{{ id }} icon" class="icon">
<div class="content">
    <h4>{{name}}</h4>
    <div class="details">
        {{charm}} | Units: {{num_units}}
    </div>
</div>
