{{! The token class is used by the deploy method in
    test/test_charm_running.py.  If you change this name, change the other
    one too! }}
<a href="/bundle/{{id}}"
   class="token {{size}} {{#if is_approved}}recommended{{/if}}"
   data-charmid="/bundle/{{id}}">
    <span class="block-icon">
        <div class="icon">
            <img src="{{charmIconPath id true}}" alt="{{ name }} icon">
        </div>
    </span>
    <span class="title">
        {{ name }}
    </span>
    <span class="metadata">
        <div><strong>{{serviceCount}} {{pluralize 'service' serviceCount}} | {{unitCount}} {{pluralize 'unit' unitCount}}</strong></div>
        <div>{{#if series}}{{series}} |{{/if}} {{#if is_approved}}Recommended{{else}}{{owner}}{{/if}}</div>
    </span>
    <span class="charms">
        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                 alt="[charm name]">
        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                 alt="[charm name]">
        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                 alt="[charm name]">
        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                 alt="[charm name]">
        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                 alt="[charm name]">
        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                 alt="[charm name]">
        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                 alt="[charm name]">
        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                 alt="[charm name]">
        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                 alt="[charm name]">
        <img src="/juju-ui/assets/images/non-sprites/charm_160.svg"
                 alt="[charm name]">
    </span>
</a>
