{{! The token class is used by the deploy method in
    test/test_charm_running.py.  If you change this name, change the other
    one too! }}
{{#if deployButton}}
    <a class="deployButton bundle" href="">
        <i class="sprite search_add_to_canvas" data-bundleid="{{id}}" title="Deploy bundle"></i>
    </a>
{{/if}}
<a href="/bundle/{{id}}"
   class="token {{size}}"
   data-charmid="/bundle/{{id}}">
    {{#if is_approved}}
        <span class="recommended">
            <i class="sprite recommended-triangle"></i>
        </span>
    {{/if}}
    <span class="block-icon">
        <div class="icon">
            <img src="{{charmIconPath id true}}" alt="{{ name }} icon">
        </div>
    </span>
    <span class="title">
        {{basket_name}}:{{ name }}
    </span>
    <span class="metadata">
        <div>Deployed {{downloads}} {{pluralize 'time' downloads}}</div>
        <div><strong>{{serviceCount}} {{pluralize 'service' serviceCount}} | {{unitCount}} {{pluralize 'unit' unitCount}}</strong></div>
        <div>{{#if series}}{{series}} |{{/if}} {{#if is_approved}}Recommended{{else}}{{owner}}{{/if}}</div>
    </span>
    <span class="charms">
        {{#charmIcons}}
            <img src="{{charmIconPath id}}" alt="{{name}} icon"/>
        {{/charmIcons}}
    </span>
</a>
