<div>
  <img url="{{ iconfile }}" />
  <h3 class="title">
    <a href="/bws/fullscreen/{{ id }}">{{ name }}</a>
  </h3>
  <ul class="providers">
    {{#providers}}<li>{{ icon }}</li>{{/providers}}    
  </ul>
  <div class="metadata">
    <span class="downloads">{{recent_downloads}}</span>
    <span class="commits">{{recent_commits}}</span>
  </div>
  <p class="description">{{ description }}</p>
  <button class="hidden">Add</button>
</div>
