      <div>
        <h1>Charm Collection</h1>
          <form class="well form-inline" id="charm-search-form">
            <label>Charm Name
              <input id="charm-search" name="query" type="text" class="search-query yui3-u-1-6"
                     placeholder="Search"/>
            </label>
            <button type="submit" class="btn">Search</button>
          </form>
          <div class="collection">
            <div class="charm">
              <ul class="thumbnails">
                {{#charms}}
                <li class="yui3-u-1-4">
                  <div class="thumbnail" data-charm-url="{{data_url}}">
                    <h5>~{{owner}}/{{series}}/{{name}} <i class="icon-user"></i></h5>
                    <span>{{summary}}</span>
                  </div>
                </li>
                {{/charms}}
              </ul>
            </div>
          </div>
      </div>
