<a href="/bws/sidebar/{{id}}"
    class="charm-token yui3-g"
    data-charmid="{{id}}">
    <span class="yui3-u-1-4">
        <img url="{{ iconfile }}" alt="Icon" />
    </span>
    <span class="yui3-u-3-4">
        <span class="title">
            {{ name }}
        </span>
        <span class="metadata">
                {{ recent_commit_count }} {{pluralize 'commit' recent_commit_count}},
                {{ recent_download_count }}
                {{pluralize 'download' recent_download_count}}
        </span>
        <span class="description">{{truncate description 110 }}</span>
    </span>
</a>
