<div class="charm-token" data-charmid="{{id}}">
  <img url="{{ iconfile }}" />
  <h3 class="title">
    {{ name }}
  </h3>
  <div class="metadata">
    Recent activity: 
    <span class="commits">
      {{ recent_commits }} commits
    </span>
    <span class="downloads">
      {{ recent_downloads }} downloads
    </span>
  </div>
  <p class="description">{{ description }}</p>
  <button class="hidden">Add</button>
</div>
