<div>
    <div>
        <ul  class="unstyled">
            {{#charms}}
            <li class="notice">
                <div>
                    <h3>~{{owner}}/{{series}}/{{name}}</h3>
                    <div>{{summary}}</div>
                    <a  data-charm-url="{{data_url}}"
                        class="btn btn-inverse charm-result-entry-deploy">
                        Deploy
                    </a>
                </div>
            </li>
            {{/charms}}
        </ul>
    </div>
</div>