<div class="picker charm-filter-picker">
  <i class="picker-edge sprite picker_left_edge"></i>
  <div class="picker-expanded">
    <div class="picker-list">
      <ul>
        <li class="picker-item all" data-filter="all">
          All charms ({{allCharmsCount}})</li>
        <li class="picker-item subordinates" data-filter="subordinates">
          Subordinates ({{subordinateCharmsCount}})</li>
        <li class="picker-item deployed" data-filter="deployed">
          Deployed ({{deployedCharmsCount}})</li>
      </ul>
    </div>
    <i class="picker-edge picker-edge-right sprite view_right_edge"></i>
  </div>
  <div class="picker-body"></div>
  <i class="picker-button sprite picker_view_right_button_down"></i>
</div>

<div class="search-result-div">

  <div>
    {{#charms}}
    <div class="series-charms">
      <h3>{{series}}</h3>
      <ul class="unstyled">
        {{#charms}}
        <li class="charm-entry">
          <div class="charm-div">
            <button class="btn btn-primary deploy"
             data-url="{{id}}">Deploy</button>
            <a class="charm-detail"
               href="{{id}}">{{#if owner}}{{owner}}/{{/if}}{{package_name}}</a>
            <div class="charm-summary">{{summary}}</div>
          </div>
        </li>
        {{/charms}}
      </ul>
    </div>
    {{/charms}}
  </div>
</div>
