<div>
  <div class="charm-nav-back"><i class="icon-arrow-left icon-white"></i> Back</div>

  <div class="charm-description">
    <button class="btn btn-primary"
            data-info-url="{{charm_store_path}}">Deploy</button>
    <h3>{{package_name}}</h3>
    <div class="charm-section">
      <h4><i class="icon-chevron-down"></i> Description</h4>
      <div>
        <h5>Summary</h5>
        <p>{{summary}}</p>
        <h5>Series</h5>
        <p>{{series}}</p>
        <h5>Description</h5>
        <div>{{description}}</div>
        <h5>Owner</h5>
        <p>{{owner}}</p>
        {{#if store_revision}}
        <h5>Store Revision</h5>
        <p>{{store_revision}}</p>
        {{/if}}
      </div>
    </div>
    {{#any requires provides}}
    <div class="charm-section">
      <h4><i class="icon-chevron-right"></i> Interfaces</h4>
      <div>
        {{#if provides}}
        <h5>Provides</h5>
        <ul>
        {{#iflat provides}}
          <li>{{interface}}</li>
        {{/iflat}}
        </ul>
        {{/if}}
        {{#if requires}}
        <h5>Requires</h5>
        <ul>
        {{#iflat requires}}
          <li>{{interface}}</li>
        {{/iflat}}
        </ul>
        {{/if}}
      </div>
    </div>
    {{/any}}
    {{#if last_change}}
    <div class="charm-section">
      <h4><i class="icon-chevron-right"></i> Last Change</h4>
      <div>
        {{#with last_change}}
        <div>{{dateformat created "%F"}}</div>
        <div>{{committer}}</div>
        <div class="commitmessage">{{message}}</div>
        {{/with}}
      </div>
    </div>
    {{/if}}
  </div>
</div>