<div class="charm-token yui3-g" data-charmid="{{id}}">
  <div class="yui3-u-1-4">
    <img url="{{ iconfile }}" alt="Icon" />
  </div>
  <div class="yui3-u-3-4">
    <a href="" class="add hidden">
      <img src="/juju-ui/assets/images/sidebar_add_icon.jpg" alt="Add" />
    </a>
    <h3 class="title">
      {{ name }}
    </h3>
    <div class="metadata">
      Recent activity: 
      <span class="commits">
        {{ recent_commits }} {{pluralize 'commit' recent_commits}}
      </span>
      <span class="downloads">
        {{ recent_downloads }} {{pluralize 'download' recent_downloads}}
      </span>
    </div>
    <p class="description">{{ description }}</p>
  </div>
</div>
