<div class='old-charm-view view-container'>
  <h1> Charm </h1>
  <div class="yui3-g-r">
    <div class="yui3-u-5-9">
      <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls"><div class="read-only">{{charm.name}}</div></div>
          </div>
          <div class="control-group">
            <label class="control-label">Series</label>
            <div class="controls"><div class="read-only">{{charm.series}}</div></div>
          </div>
          <div class="control-group">
            <label class="control-label">Summary</label>
            <div class="controls"><div class="read-only">{{charm.summary}}</div></div>
          </div>
          <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls"><div class="read-only">{{markdown charm.description}}</div></div>
          </div>

          <div class="control-group">
            <label class="control-label">Last Change</label>
            <div class="controls">
              <div class="read-only">
                {{#with last_change}}
                {{created}} <br/> {{committer}} <br/> {{message}}
                {{/with}}
              </div>
            </div>
          </div>
        </fieldset>
      </form>

    </div>
    <div class="yui3-u-1-6 yui3-offset-1-18">
      <b>Provides</b>
      <ul>
      {{#iflat charm.provides}}
          <li>{{interface}}</li>
      {{/iflat}}
      </ul>

      <b>Requires</b>
      <ul>
      {{#iflat charm.requires}}
          <li>{{interface}}</li>
      {{/iflat}}
      </ul>
    </div>
  </div>
  <div class="yui3-g">
    <div class="yui3-u-7-9">
      <form id="deploy-service" class="form-horizontal">
        <legend>Deploy this charm:</legend>

        <!-- Service name -->
        <div class="control-group">
          <div class="well">
            What should the new service be named?  The default is the charm name.
          </div>
          <div class="control-label" for="service-name">Service name:</div>
          <div class="controls">
            <input class="config-field" type="text" name="service-name"
                id="service-name" value="{{charm.name}}"/>
          </div>
        </div>
      </form>

      <!-- Service configuration form -->
      <form id="service-config" class="form-horizontal">
          {{> service-config}}
      </form>

      <input id="charm-deploy" value="Deploy" type="submit"
          class="btn btn-inverse"></input>
    </div>
  </div>
</div>