<div>
  <div>
    {{#charms}}
    <div class="series-charms">
      <h3>{{series}}</h3>
      <ul class="unstyled">
        {{#charms}}
        <li class="charm-entry">
          <div>
            <button class="btn btn-primary deploy"
             data-url="{{url}}"
             data-name="{{name}}"
             data-info-url="{{data_url}}">Deploy</button>
            <a class="charm-detail" href="{{url}}">
              {{#if owner}}{{owner}}/{{/if}}{{name}}</a>
            <button class="btn configure"
             data-url="{{url}}"
             data-name="{{name}}"
             data-info-url="{{data_url}}">Configure</button>
            <a class="charm-detail" href="/charms{{data_url}}">
              {{#if owner}}{{owner}}/{{/if}}{{name}}</a>
            <div class="charm-summary">{{summary}}</div>
          </div>
        </li>
        {{/charms}}
      </ul>
    </div>
    {{/charms}}
  </div>
</div>
