<div>
    <div>
        <ul  class="unstyled">
            {{#charms}}
            <li class="charm-entry">
                <div>
                    <h4>{{owner}}/{{series}}/{{name}}</h4>
                    <div class="charm-summary">{{summary}}</div>
                    <div class="btn-group">
                        <a data-charm-url="{{data_url}}"
                           class="btn btn-inverse charm-detail">
                            Detail
                        </a>
                    </div>
                </div>
            </li>
            {{/charms}}
        </ul>
    </div>
</div>