{{! The token class is used by the deploy method in
    test/test_charm_running.py.  If you change this name, change the other
    one too! }}
<a href="/{{storeId}}" class="token {{size}}" data-charmid="{{storeId}}">
    <span class="block-icon">
        <div class="icon">
            {{#unless iconUrl}}
                <img src="{{charmIconPath storeId}}" alt="{{ name }} icon">
            {{else}}
                <img src="{{iconUrl}}" alt="{{ name }} icon">
            {{/unless}}
        </div>
    </span>
    <span class="title">
        {{ name }}
    </span>
    {{#unless_eq size 'tiny'}}
      <span class="metadata">
          <div><strong>Deployed {{downloads}} {{pluralize 'time' downloads}}</strong></div>
          <div>{{#if series}}{{series}} |{{/if}} {{#if is_approved}}Recommended{{else}}{{owner}}{{/if}}</div>
      </span>
    {{/unless_eq}}
</a>
