<div>
    <div>
        <ul>
            {{#charms}}
            <li>
                <div data-charm-url="{{data_url}}">
                    <h5>~{{owner}}/{{series}}/{{name}} <i class="icon-user"></i></h5>
                    <span>{{summary}}</span>
                </div>
            </li>
            {{/charms}}
        </ul>
    </div>
</div>