<div>
  <div class="charm-nav-back"><i class="icon-chevron-left"></i> Back</div>

  <div class="charm-description charm-panel">
    <div id="charm-panel-head">
      <h3>{{package_name}}</h3>
      {{id}}
    </div>

    <div id="charm-panel-deploy">
      <button class="btn btn-primary deploy" data-url="{{id}}">Deploy</button>
    </div>

    <div class="charm-section">
      <h4><i class="icon-chevron-down"></i> Description</h4>
      <div class="collapsible">
        <h5>Summary</h5>
        <p>{{summary}}</p>
        <h5>Series</h5>
        <p>{{series}}</p>
        <h5>Description</h5>
        <div>{{description}}</div>
        {{#if owner}}
        <h5>Owner</h5>
        <p>{{owner}}</p>
        {{/if}}
        {{#if store_revision}}
        <h5>Store Revision</h5>
        <p>{{store_revision}}</p>
        {{/if}}
      </div>
    </div>

    {{#any requires provides}}
    <div class="charm-section">
      <h4><i class="icon-chevron-up"></i> Interfaces</h4>
      <div class="collapsible">
        {{#if provides}}
        <h5>Provides</h5>
        <ul>
        {{#iflat provides}}
          <li>{{interface}}</li>
        {{/iflat}}
        </ul>
        {{/if}}
        {{#if requires}}
        <h5>Requires</h5>
        <ul>
        {{#iflat requires}}
          <li>{{interface}}</li>
        {{/iflat}}
        </ul>
        {{/if}}
      </div>
    </div>
    {{/any}}

    {{#if last_change}}
    <div class="charm-section">
      <h4><i class="icon-chevron-up"></i> Change Log</h4>
      <div class="collapsible">
        {{#with last_change}}
        <h5>Last Change</h5>
        <div>{{dateformat created "%F"}}</div>
        <div>{{committer}}</div>
        <div class="commitmessage">{{message}}</div>
        {{/with}}
      </div>
    </div>
    {{/if}}

  </div>
</div>
