<a href="/bws/sidebar/{{id}}"
    class="charm-token yui3-g {{size}}"
    data-charmid="{{id}}">
    <span class="yui3-u">
        {{#if is_approved}}
            <i class="sprite badge-approved"></i>
        {{/if}}
        {{#if icon}}
            <img src="data:image/svg+xml;base64,{{ icon }}" alt="{{ name }} icon" class="icon">
        {{else}}
            <div class="charm-icon">
            </div>
        {{/if}}
    </span>
    <span class="yui3-u-5-7">
        <span class="title">
            {{ name }}
        </span>
        <span class="metadata">
                <strong>{{ recent_download_count }}</strong>
                {{pluralize 'download' recent_download_count}},
                <strong>{{ recent_commit_count }}</strong>
                {{pluralize 'commit' recent_commit_count}}
        </span>
        <span class="description">{{truncate description 110 }}</span>
    </span>
</a>
