<div class="search-result-div">
  <div>
    {{#charms}}
    <div class="series-charms">
      <h3>{{series}}</h3>
      <ul class="unstyled">
        {{#charms}}
        <li class="charm-entry">
          <div>

            <button class="btn btn-primary deploy"
             data-url="{{baseId}}">Deploy</button>
            <a class="charm-detail" href="{{baseId}}">
              {{#if owner}}{{owner}}/{{/if}}{{name}}</a>

            <div class="charm-summary">{{summary}}</div>

          </div>
        </li>
        {{/charms}}
      </ul>
    </div>
    {{/charms}}
  </div>
</div>
