<div class="token">
  <div class="top">
    <span class="title">{{ displayName }}</span>
    <ul class="service-icons">
      {{#units}}
        <li class="unit">
          <img src="{{icon}}" alt="{{service}}"/>
          <span class="name">{{displayName}}</span>
        </li>
      {{/units}}
    </ul>
  </div>
  <span class="delete">
    <i class="sprite mv-token-destroy"></i>
  </span>
  <div class="drop">
    <span>Add to container {{ displayName }}</span>
  </div>
</div>
