<div class="bar">
    <div class="right">
        <div class="pre-summary">
            <span class="import-export">
                <a href="">Import</a>
                <a href="">Export</a>
            </span>
            <a href="" class="button deploy-button">Deploy</a>
        </div>
        <div class="post-summary">
            <p>Confirm will deploy all changes</p>
            <a href="" class="button cancel-button">Cancel</a>
            <a href="" class="button confirm-button">Confirm</a>
        </div>
    </div>
    <ul class="action-list">
        <li>
            <a href="" class="link">
                {{ changeCount }} changes
                <span class="expand">
                    <i class="sprite expand_icon more"></i>
                    <i class="sprite contract_icon less"></i>
                </span>
            </a>
        </li>
        <li class="change">
          {{{ latestChangeDescription }}}
        </li>
    </ul>
</div>
<aside class="summary">
    <header>
        <h2 class="title">The following changes will be deployed</h2>
        <div class="right">
            <ul class="action-list">
                <li><a href="" class="min"><i class="sprite DB-expand-01"></i></a></li>
                <li><a href="" class="mid"><i class="sprite DB-expand-02"></i></a></li>
                <li><a href="" class="max"><i class="sprite DB-expand-03 active"></i></a></li>
                <li><a href="" class="close"><i class="sprite DB-close"></i></a></li>
            </ul>
        </div>
    </header>
    <section>
        <h2 class="title">Deployment summary</h2>
        <div class="summary-panel">
            {{#if changeCount}}
                {{#if deployServices.length}}
                    <h3>
                        {{deployServices.length}}
                        {{pluralize 'service' deployServices.length}} added
                    </h3>
                    <ul>
                    {{#each deployServices}}
                        <li><img src="{{icon}}" alt="" class="icon" />{{name}} has been added.</li>
                    {{/each}}
                    </ul>
                {{/if}}
                {{#if addedRelations.length}}
                    <h3>
                        {{addedRelations.length}}
                        {{pluralize 'relation' addedRelations.length}} added
                    </h3>
                    <ul>
                    {{#each addedRelations}}
                        <li>{{type}} relation added between {{from}} and {{to}}</li>
                    {{/each}}
                    </ul>
                {{/if}}
                {{#if addedUnits.length}}
                    <h3>
                        {{addedUnits.length}}
                        {{pluralize 'unit' addedUnits.length}} added
                    </h3>
                    <ul>
                        {{#each addedUnits}}
                            <li>
                                <img src="{{icon}}" alt="" class="icon" />
                                {{numUnits}} {{serviceName}}
                                {{pluralize 'unit' numUnits}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
                {{#if addedMachines.length}}
                    <h3>
                        {{addedMachines.length}}
                        {{pluralize 'machine' addedMachines.length}} added
                    </h3>
                    <ul>
                        {{#each addedMachines}}
                            <li>
                                <i class="sprite {{#if parentId}}container{{else}}machine{{/if}}-created02"></i>
                                {{#if series}}
                                    {{series}}
                                {{/if}}
                                {{#if parentId}}
                                    {{containerType}} container on {{parentId}}
                                {{else}}
                                    root-level machine
                                {{/if}}
                                {{#if constraints}}
                                    with constraints
                                    {{#if jobs}}
                                        and
                                    {{/if}}
                                {{/if}}
                                {{#if jobs}}
                                    with jobs: {{jobs}}
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            {{else}}
                <p>No uncommitted changes</p>
            {{/if}}
        </div>
    </section>
</aside>
<div class="cover"></div>
