
<div class="content">
    <h2 class="title">Confirm your changes</h2>
    {{#if unplacedCount}}
    <div class="unplaced-panel">
      <p>You have {{unplacedCount}} unplaced {{pluralize 'unit' unplacedCount}}, do you want to:</p>
      <input id="leave-unplaced" type="radio" name="unplaced-units" value="leave" checked><label for="leave-unplaced"><span class="outer"><span class="inner"></span></span>Leave unplaced</label>
      <input id="autodeploy" type="radio" name="unplaced-units" value="autodeploy"><label for="autodeploy"><span class="outer"><span class="inner"></span></span>Automatically place</label>
      <a href="" class="view-machines link">View machines</a>
    </div>
    {{/if}}
    {{#if majorChange}}
    <div class="summary-panel">
        {{#if changeCount}}
            {{#if deployServices.length}}
                <h3>
                    {{deployServices.length}}
                    {{pluralize 'service' deployServices.length}} added
                </h3>
                <ul>
                {{#each deployServices}}
                    <li><img src="{{icon}}" alt="" class="icon" />{{name}} has been added.</li>
                {{/each}}
                </ul>
            {{/if}}
            {{#if destroyedServices.length}}
                <h3>
                    {{destroyedServices.length}}
                    {{pluralize 'service' destroyedServices.length}} destroyed
                </h3>
                <ul>
                {{#each destroyedServices}}
                    <li><img src="{{icon}}" alt="" class="icon" />{{name}} has been destroyed.</li>
                {{/each}}
                </ul>
            {{/if}}
            {{#if addedRelations.length}}
                <h3>
                    {{addedRelations.length}}
                    {{pluralize 'relation' addedRelations.length}} added
                </h3>
                <ul>
                {{#each addedRelations}}
                    <li>{{type}} relation added between {{from}} and {{to}}</li>
                {{/each}}
                </ul>
            {{/if}}
            {{#if removedRelations.length}}
                <h3>
                    {{removedRelations.length}}
                    {{pluralize 'relation' removedRelations.length}} removed
                </h3>
                <ul>
                {{#each removedRelations}}
                    <li>{{type}} relation removed between {{from}} and {{to}}</li>
                {{/each}}
                </ul>
            {{/if}}
            {{#if totalUnits}}
                <h3>
                    {{totalUnits}}
                    {{pluralize 'unit' totalUnits}} added
                </h3>
                <ul>
                    {{#each addedUnits}}
                        <li>
                            <img src="{{icon}}" alt="" class="icon" />
                            {{numUnits}} {{serviceName}}
                            {{pluralize 'unit' numUnits}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if removedUnits.length}}
                <h3>
                    {{removedUnits.length}}
                    {{pluralize 'unit' removedUnits.length}} removed
                </h3>
                <ul>
                    {{#each removedUnits}}
                        <li>
                            <img src="{{icon}}" alt="" class="icon" />
                            {{numUnits}} {{serviceName}}
                            {{pluralize 'unit' numUnits}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if addedMachines.length}}
                <h3>
                    {{addedMachines.length}}
                    {{pluralize 'machine' addedMachines.length}} added
                </h3>
                <ul>
                    {{#each addedMachines}}
                        <li>
                            <i class="sprite {{#if parentId}}container{{else}}machine{{/if}}-created02"></i>
                            {{#if series}}
                                {{series}}
                            {{/if}}
                            {{#if parentId}}
                                {{containerType}} container on {{parentId}}
                            {{else}}
                                {{name}}
                            {{/if}}
                            created
                            {{#if someConstraints}}
                                with constraints ({{#constraints}}
                                    {{#if mem}}
                                        mem={{mem}}MB
                                    {{/if}}
                                    {{#if cpu-power}}
                                        cpu-power={{cpu-power}}GHz
                                    {{/if}}
                                    {{#if cpu-cores}}
                                        cpu-cores={{cpu-cores}}
                                    {{/if}}
                                    {{#if arch}}
                                        arch={{arch}}
                                    {{/if}}
                                    {{#if tags}}
                                        tags={{tags}}
                                    {{/if}}
                                    {{#if root-disk}}
                                        root-disk={{root-disk}}MB
                                    {{/if}}
                                {{/constraints}})
                                {{#if jobs}}
                                    and
                                {{/if}}
                            {{/if}}
                            {{#if jobs}}
                                with jobs: {{jobs}}
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if destroyedMachines.length}}
                <h3>
                    {{destroyedMachines.length}}
                    {{pluralize 'machine' destroyedMachines.length}} destroyed
                </h3>
                <ul>
                    {{#each destroyedMachines}}
                        <li>
                            <i class="sprite changes-{{ type }}-destroyed"></i> {{ name }}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if configsChanged.length}}
                <h3>
                    {{configsChanged.length}}
                    {{pluralize 'configuration' configsChanged.length}} changed
                </h3>
                <ul>
                    {{#each configsChanged}}
                        <li>
                            <img src="{{icon}}" alt="" class="icon" />
                            {{numUnits}} {{serviceName}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{else}}
            <p>No uncommitted changes</p>
        {{/if}}
    </div>
    <div class="changes">
    {{else}}
    <div class="changes open">
    {{/if}}
      <div class="toggle">
          View the complete change log
          <span class="expand">
              <i class="sprite expand_icon"></i>
          </span>
          <span class="contract">
              <i class="sprite contract_icon"></i>
          </span>
      </div>
      <div class="list"></div>
    </div>
</div>
