<div class="bar">
    <div class="right">
        <div class="pre-summary">
            <span class="import-export">
                <span class="import link">Import</span>
                <span class="export link">Export</span>
                <input type="file" class="import-file" />
            </span>
            <span class="button deploy-button">
                Commit
            </span>
        </div>
        <div class="post-summary">
            <p>
                {{# if deployed }}
                    Commit
                {{else}}
                    Deploy
                {{/if}}
                changes?
            </p>
            <span class="button cancel-button">Cancel</span>
            <span class="button confirm-button">
                {{# if deployed }}
                    Commit
                {{else}}
                    Confirm
                {{/if}}
            </span>
        </div>
    </div>
    <ul class="action-list">
        <li class="show">
            <a href="" class="link">
                {{ changeCount }} changes
                <span class="expand">
                    <i class="sprite chevron_up_16 more"></i>
                </span>
            </a>
        </li>
        <li class="change">
          <i class="sprite {{ changeNotification.icon }}"></i>
          {{ changeNotification.description }}
          <time>{{ changeNotification.time }}</time>
        </li>
    </ul>
</div>
<aside class="panel changes">
  <header>
    <ul class="action-list right">
        <li>
            <span class="link change-mode min sprite-hover" data-mode="min">
                <i class="sprite minimize_bar_16 normal"></i>
                <i class="sprite minimize_bar_hover_16 hover"></i>
            </span>
        </li>
        <li>
            <span class="link change-mode mid sprite-hover" data-mode="mid">
                <i class="sprite halfscreen_bar_16 normal"></i>
                <i class="sprite halfscreen_bar_hover_16 hover"></i>
            </span>
        </li>
        <li>
            <span class="link change-mode max sprite-hover" data-mode="max">
                <i class="sprite maximize_bar_16 normal"></i>
                <i class="sprite maximize_bar_hover_16 hover"></i>
            </span>
        </li>
        <li>
            <span class="link close sprite-hover">
                <i class="sprite close_16 normal"></i>
                <i class="sprite close_hover_16 hover"></i>
            </span>
        </li>
    </ul>
    <ul class="action-list left">
        <li class="hide">
            <a href="" class="link">
                {{ changeCount }} changes
                <span class="contract">
                    <i class="sprite chevron_down_16 less"></i>
                </span>
            </a>
        </li>
        <li>
            <span class="clear-changes">
                <span class="button clear-button disabled">Clear all changes</span>
                <span class="clear-confirm hidden">
                    Are you sure?
                    <span class="button clear-no disabled">No</span>
                    <span class="button clear-yes">Yes</span>
                </span>
            </span>
        </li>
    </ul>
  </header>
  <section></section>
</aside>
<aside class="panel summary">
    <header>
        <span class="clear-changes">
            <span class="button clear-button disabled">Clear all changes</span>
            <span class="clear-confirm hidden">
                Are you sure?
                <span class="button clear-no disabled">No</span>
                <span class="button clear-yes">Yes</span>
            </span>
        </span>
        <ul class="action-list right">
            <li>
                <span class="link close">
                    <i class="sprite close_16 normal"></i>
                    <i class="sprite close_hover_16 hover"></i>
                </span>
            </li>
        </ul>
    </header>
    <section></section>
</aside>
<div class="commit-onboarding hidden">
  Your changes need to be committed before they can take effect.
  <span class="link close">Got it, thanks!</span>
</div>
<div class="cover"></div>
