<div class="bar">
    <div class="right">
        <div class="pre-summary">
            <span class="import-export">
                <span class="import link">Import</span>
                <span class="export link">Export</span>
                <input type="file" class="import-file" />
            </span>
            <span class="button deploy-button">
                {{#if deployed}}
                    Commit
                {{else}}
                    Deploy
                {{/if}}
            </span>
        </div>
        <div class="post-summary">
            <p>Confirm will deploy all changes</p>
            <span class="button cancel-button">Cancel</span>
            <span class="button confirm-button">Confirm</span>
        </div>
    </div>
    <ul class="action-list">
        <li class="show">
            <a href="" class="link">
                {{ changeCount }} changes
                <span class="expand">
                    <i class="sprite contract_icon more"></i>
                </span>
            </a>
        </li>
        <li class="change">
          <i class="sprite {{ latestChangeDescription.icon }}"></i>
          {{ latestChangeDescription.description }}
          <time>{{ latestChangeDescription.time }}</time>
        </li>
    </ul>
</div>
<aside class="panel changes">
  <header>
    <ul class="action-list right">
        <li>
            <span class="link change-mode min" data-mode="min">
                <i class="sprite DB-expand-01"></i>
            </span>
        </li>
        <li>
            <span class="link change-mode mid" data-mode="mid">
                <i class="sprite DB-expand-02"></i>
            </span>
        </li>
        <li>
            <span class="link change-mode max" data-mode="max">
                <i class="sprite DB-expand-03"></i>
            </span>
        </li>
        <li>
            <span class="link close">
                <i class="sprite DB-close"></i>
            </span>
        </li>
    </ul>
    <ul class="action-list left">
        <li class="hide">
            <a href="" class="link">
                {{ changeCount }} changes
                <span class="contract">
                    <i class="sprite expand_icon less"></i>
                </span>
            </a>
        </li>
    </ul>
  </header>
  <section></section>
</aside>
<aside class="panel summary">
    <header>
        The following changes will be deployed
        <ul class="action-list right">
            <li>
                <span class="link change-mode min" data-mode="min">
                    <i class="sprite DB-expand-01"></i>
                </span>
            </li>
            <li>
                <span class="link change-mode mid" data-mode="mid">
                    <i class="sprite DB-expand-02"></i>
                </span>
            </li>
            <li>
                <span class="link change-mode max" data-mode="max">
                    <i class="sprite DB-expand-03"></i>
                </span>
            </li>
            <li>
                <span class="link close">
                    <i class="sprite DB-close"></i>
                </span>
            </li>
        </ul>
    </header>
    <section>
        <div class="content">
            <h2 class="title">Deployment summary</h2>
            <div class="summary-panel">
                {{#if changeCount}}
                    {{#if deployServices.length}}
                        <h3>
                            {{deployServices.length}}
                            {{pluralize 'service' deployServices.length}} added
                        </h3>
                        <ul>
                        {{#each deployServices}}
                            <li><img src="{{icon}}" alt="" class="icon" />{{name}} has been added.</li>
                        {{/each}}
                        </ul>
                    {{/if}}
                    {{#if destroyedServices.length}}
                        <h3>
                            {{destroyedServices.length}}
                            {{pluralize 'service' destroyedServices.length}} destroyed
                        </h3>
                        <ul>
                        {{#each destroyedServices}}
                            <li><img src="{{icon}}" alt="" class="icon" />{{name}} has been destroyed.</li>
                        {{/each}}
                        </ul>
                    {{/if}}
                    {{#if addedRelations.length}}
                        <h3>
                            {{addedRelations.length}}
                            {{pluralize 'relation' addedRelations.length}} added
                        </h3>
                        <ul>
                        {{#each addedRelations}}
                            <li>{{type}} relation added between {{from}} and {{to}}</li>
                        {{/each}}
                        </ul>
                    {{/if}}
                    {{#if removedRelations.length}}
                        <h3>
                            {{removedRelations.length}}
                            {{pluralize 'relation' removedRelations.length}} removed
                        </h3>
                        <ul>
                        {{#each removedRelations}}
                            <li>{{type}} relation removed between {{from}} and {{to}}</li>
                        {{/each}}
                        </ul>
                    {{/if}}
                    {{#if addedUnits.length}}
                        <h3>
                            {{addedUnits.length}}
                            {{pluralize 'unit' addedUnits.length}} added
                        </h3>
                        <ul>
                            {{#each addedUnits}}
                                <li>
                                    <img src="{{icon}}" alt="" class="icon" />
                                    {{numUnits}} {{serviceName}}
                                    {{pluralize 'unit' numUnits}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if addedMachines.length}}
                        <h3>
                            {{addedMachines.length}}
                            {{pluralize 'machine' addedMachines.length}} added
                        </h3>
                        <ul>
                            {{#each addedMachines}}
                                <li>
                                    <i class="sprite {{#if parentId}}container{{else}}machine{{/if}}-created02"></i>
                                    {{#if series}}
                                        {{series}}
                                    {{/if}}
                                    {{#if parentId}}
                                        {{containerType}} container on {{parentId}}
                                    {{else}}
                                        root-level machine
                                    {{/if}}
                                    {{#if constraints}}
                                        with constraints ({{#constraints}}
                                            {{#if mem}}
                                                mem={{mem}}MB
                                            {{/if}}
                                            {{#if cpu-power}}
                                                cpu-power={{cpu-power}}GHz
                                            {{/if}}
                                            {{#if cpu-cores}}
                                                cpu-cores={{cores}}
                                            {{/if}}
                                            {{#if arch}}
                                                arch={{arch}}
                                            {{/if}}
                                            {{#if tags}}
                                                tags={{tags}}
                                            {{/if}}
                                            {{#if root-disk}}
                                                root-disk={{root-disk}}MB
                                            {{/if}}
                                        {{/constraints}})
                                        {{#if jobs}}
                                            and
                                        {{/if}}
                                    {{/if}}
                                    {{#if jobs}}
                                        with jobs: {{jobs}}
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if configsChanged.length}}
                        <h3>
                            {{configsChanged.length}}
                            {{pluralize 'configuration' configsChanged.length}} changed
                        </h3>
                        <ul>
                            {{#each configsChanged}}
                                <li>
                                    <img src="{{icon}}" alt="" class="icon" />
                                    {{numUnits}} {{serviceName}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                {{else}}
                    <p>No uncommitted changes</p>
                {{/if}}
            </div>
            <div class="changes">
                <div class="toggle">
                    View the complete change log
                    <span class="expand">
                        <i class="sprite expand_icon"></i>
                    </span>
                    <span class="contract">
                        <i class="sprite contract_icon"></i>
                    </span>
                </div>
                <div class="list"></div>
            </div>
        </div>
    </section>
</aside>
<div class="cover"></div>
