<form>
  <div>
      <h2>Charm type</h2>
      <ul id="search-filter-type">
        {{#types}}
        <li><input type="checkbox" value="{{ value }}" {{#if checked}}checked="checked"{{/if}} />{{name}}</li>
        {{/types}}
      </ul>
  </div>

  <div>
      <h2>Charm categories</h2>
      <ul id="search-filter-category">
        {{#categories}}
        <li><input type="checkbox" value="{{ value }}" {{#if checked}}checked="checked"{{/if}} />{{name}}</li>
        {{/categories}}
      </ul>
  </div>

  <div>
      <h2>Ubuntu series</h2>
      <ul id="search-filter-series">
        {{#series}}
        <li><input type="checkbox" value="{{ value }}" {{#if checked}}checked="checked"{{/if}} />{{name}}</li>
        {{/series}}
      </ul>
  </div>

  <div>
      <h2>Providers</h2>

      <ul id="search-filter-providers">
        {{#providers}}
        <li><input type="checkbox" value="{{ value }}" {{#if checked}}checked="checked"{{/if}} />{{name}}</li>
        {{/providers}}
      </ul>
  </div>

</form>
