<div>
  <div>
      <h4>Charm type</h4>
      <ul id="search-filter-type">
        {{#type}}
            <li><input type="checkbox" value="{{ value }}"
                {{#if checked}}checked="checked"{{/if}} />{{name}}
            </li>
        {{/type}}
      </ul>
  </div>

  <div>
      <h4>Charm categories</h4>
      <ul id="search-filter-categories">
        {{#categories}}
            <li><input type="checkbox" value="{{ value }}"
                {{#if checked}}checked="checked"{{/if}} />{{name}}
            </li>
        {{/categories}}
      </ul>
  </div>

  <div>
      <h4>Ubuntu series</h4>
      <ul id="search-filter-series">
        {{#series}}
            <li><input type="checkbox" value="{{ value }}"
                {{#if checked}}checked="checked"{{/if}} />{{name}}
            </li>
        {{/series}}
      </ul>
  </div>

  <div>
      <h4>Providers</h4>

      <ul id="search-filter-provider">
        {{#provider}}
            <li><input type="checkbox" value="{{ value }}"
                {{#if checked}}checked="checked"{{/if}} />{{name}}
            </li>
        {{/provider}}
      </ul>
  </div>

</div>
