<form>
  <div>
      <h2>Charm type</h2>
      <ul id="search-filter-type">
        {{#type}}
        <li><input type="checkbox" value="{{ value }}" {{#if checked}}checked="checked"{{/if}} />{{name}}</li>
        {{/type}}
      </ul>
  </div>

  <div>
      <h2>Charm categories</h2>
      <ul id="search-filter-category">
        {{#category}}
        <li><input type="checkbox" value="{{ value }}" {{#if checked}}checked="checked"{{/if}} />{{name}}</li>
        {{/category}}
      </ul>
  </div>

  <div>
      <h2>Ubuntu series</h2>
      <ul id="search-filter-series">
        {{#series}}
        <li><input type="checkbox" value="{{ value }}" {{#if checked}}checked="checked"{{/if}} />{{name}}</li>
        {{/series}}
      </ul>
  </div>

  <div>
      <h2>Providers</h2>

      <ul id="search-filter-providers">
        {{#provider}}
        <li><input type="checkbox" value="{{ value }}" {{#if checked}}checked="checked"{{/if}} />{{name}}</li>
        {{/provider}}
      </ul>
  </div>

</form>
