<header>
  <div class="service-charm">
    <div class="icon">
      <img src="{{icon}}" alt="{{name}} icon" class="icon">
    </div>
    <div class="details-wrapper">
      {{#if pending}}
        <input type="text" class="service-name config-field {{invalidName}}" name="service-name"
               value="{{packageName}}">
      {{else}}
        <div data-bind="displayName" class="service-name">{{displayName}}</div>
      {{/if}}
      <div {{#unless ghost}}data-bind="charm"{{/unless}}
           data-charmid="{{charmUrl}}">{{charmUrl}}</div>
      {{#unless pending}}
        <div class="charm-url" data-charmid="{{charmUrl}}">Charm details</div>
      {{/unless}}
    </div>
    <div class="close">
        <i class="sprite inspector-close"></i>
    </div>
  </div>
</header>
{{#unless ghost}}
  <div data-bind="charmChanged"
       class="inspector-header-message hidden inspector-buttons">
      <p>{{displayName}} has been upgraded to <span data-bind="charm"></span>. Please reload the inspector.</p>
      <a class="rerender-config">Reload</a>
  </div>
  <div data-bind="life" class="inspector-header-message hidden">
    <p>This service is being destroyed</p>
  </div>
{{/unless}}
