<header>
  <div class="service-charm">
    <div class="icon">
      <img src="{{icon}}" alt="{{name}} icon" class="icon">
    </div>
    <div class="details-wrapper">
      {{#if ghost}}
        <input type="text" class="service-name config-field {{invalidName}}" name="service-name"
               value="{{package_name}}">
      {{else}}
        <div data-bind="displayName" class="service-name">{{displayName}}</div>
      {{/if}}
      <div {{#unless ghost}}data-bind="charm"{{/unless}}
           data-charmid="{{charmUrl}}">{{charmUrl}}</div>
      {{#unless ghost}}
        <div class="charm-url" data-charmid="{{charmUrl}}">Charm details</div>
      {{/unless}}
    </div>
    <div class="close">
        <i class="sprite inspector-close"></i>
    </div>
  </div>
</header>
{{#unless ghost}}
  <div data-bind="charmChanged" class="charm-changed hidden">
      {{displayName}} has just been upgraded to <span data-bind="charm"></span>.
  </div>
{{/unless}}
