<a href="" class="token">
  <span class="title">{{ title }}</span>
  <span class="details">
    {{ formattedHardware.cpuCores }}x{{ formattedHardware.cpuPower }}GHz,
    {{ formattedHardware.mem }}GB,
    {{ formattedHardware.disk }}GB
  </span>
  <span class="delete">
    <i class="sprite token-delete"></i>
  </span>
</a>
