<div class="token">
  <div class="top">
    <span class="title">{{ displayName }}</span>
    <span class="service-icons">
      {{#units}}
        <img src="{{icon}}" alt="{{service}}" class="unit">
      {{/units}}
    </span>
  </div>
  <span class="details">
    {{#if noHardware}}
      Hardware details not available
    {{else}}
      {{#if formattedHardware.cpuCores}}
        {{ formattedHardware.cpuCores }}x{{ formattedHardware.cpuPower }}GHz,
      {{/if}}
      {{#if formattedHardware.mem}}
        {{ formattedHardware.mem }}GB,
      {{/if}}
      {{#if formattedHardware.disk}}
        {{ formattedHardware.disk }}GB
      {{/if}}
    {{/if}}
  </span>
  <span class="delete">
    <i class="sprite mv-token-destroy"></i>
  </span>
  <div class="drop">
    <span>Add to machine {{ displayName }}</span>
  </div>
</div>
