<div class="btn-group {{open}}">
  <button id="notify-indicator"
          data-target="notify-list"
          class="btn dropdown-toggle {{state}}">{{count}}</button>
     <ul id="notify-list" class="dropdown-menu">
       <li style="header"><a href="/notifications/"><i class="icon-list"></i>View All</a>
       {{#notifications}}
       <li id="{{clientId}}" class="notice">
         <div>
           <h4>{{title}}</h4>
           <div>
             {{message}}
           </div>
           <small data-timestamp="{{timestamp}}" class="timestamp">{{humanizeTime timestamp}}</small>
         </div>
       </li>
       {{/notifications}}
     </ul>
</div>



