<a href="" class="menu-link">
    <span id="notify-indicator">{{ count }}</span>
    Notifications
    <span class="expand">
        <i class="sprite chevron_down more"></i>
        <i class="sprite chevron_up less"></i>
    </span>
</a>
<span class="dropdown">
    <h3>
        {{count}} notifications
    </h3>
    <ul>
        {{#notifications}}
            <li id="{{clientId}}" class="notice">
                <h4>{{title}}</h4>
                {{message}}
                <small data-timestamp="{{timestamp}}">
                    {{humanizeTime timestamp}}
                </small>
            </li>
        {{/notifications}}
    </ul>
</span>
