<div class="menu">
    <div class="triangle">&nbsp;</div>
    <ul>
        {{#each relations}}
        <li class="relation-container {{#if hasRelationError}}error{{else}}running{{/if}}" data-relationid="{{id}}">
        <span data-endpoint="{{sourceId}}" class="inspect-relation endpoint{{#if sourceHasError}} error{{/if}}">{{getRealServiceName sourceId .}}</span> -
        <span data-endpoint="{{targetId}}" class="inspect-relation endpoint{{#if targetHasError}} error{{/if}}">{{getRealServiceName targetId .}}</span>
        <i class="relation-remove trash-icon"></i>
        </li>
        {{/each}}
    </ul>
</div>
