{{#relations}}
  <h3>{{far.service}}</h3>
  <div>Interface: {{interface}}</div>
  <div>Name: {{display_name}}</div>
  <div>Roll: {{near.role}}</div>
  <div>Scope: {{scope}}</div>
  <div><!--unit list--></div>
{{/relations}}