{{> service-header}}
<div class="view-container">
    <div>
      <h5>Service Relations</h5>
      <form id="service-relations">
        <table class="table table-striped table-bordered">
         <thead>
           <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Remote</th>
            <th>Scope</th>
         </thead>

         <tbody>
           {{#relations}}
           <tr {{#if highlight}}class="highlighted"{{/if}}>
              <td>
                {{ident}}
                <button type="submit" class="btn" id="{{relation_id}}" value="{{relation_id}}">
                    Remove
                </button>
              </td>
              <td>{{near.role}}</td>
              <td>
                {{#if far}}
                  <a href="/service/{{far.service}}/">{{far.service}}</a>
                {{/if}}
              </td>
              <td>{{scope}}</td>
           </tr>
           {{/relations}}
         </tbody>
        </table>
      </form>
    </div>
</div>
<div id="remove-modal-panel"></div>
{{> service-footer}}

