<span>Scale up with the following constraints?</span>
<span class="constraint-details">
  {{#if cpu}}
    {{cpu}}Ghz
  {{else}}
    Default CPU
  {{/if}}
  &nbsp;
  {{#if mem}}
    {{mem}}GB
  {{else}}
    Default Memory
  {{/if}}
  &nbsp;
  {{#if arch}}
    {{arch}}
  {{else}}
    Default Arch
  {{/if}}
</span>
<a href="" class="edit-constraints">Edit</a>
<div class="inspector-buttons">
  <a href="" class="cancel-num-units cancel">Cancel</a>
  <a href="" class="confirm-num-units">Confirm</a>
</div>
