<div class="row">
  <div class="span8">
    <h1><a href="/service/{{service.id}}/"> Service {{service.id}}</a></h1>
    <br/> <br/>
    <div class="btn-group">
      <a href="." class="btn"><i class="icon-th"></i> Units </a>
      <a href="config" class="btn"><i class="icon-cog"></i> Settings </a>
      <a href="constraints" class="btn"><i class="icon-leaf"></i> Constraints</a>
      <a href="/charms/charms/{{charm.name}}/json"
         class="btn"><i class="icon-book"></i> Charm </a>
      <button class="btn"><i class="icon-ban-circle"></i> Exposed </button>
      <a href="relations" class="btn"><i class="icon-random"></i> Relations </a>
    </div>
  </div>
    <div class="span4">
      <div class="well">
        <span>
          <b>Charm:</b>
          <a href="/charms/charms/{{charm.name}}/json">{{charm.id}}</a></span>
        <br/>
        <span> <b>Units:</b></span>
        <br/>
        <span> <b>Relations:</b></span>
        <br/>
        <span><b>Exposed:</b> {{service.exposed}}</span>
        <br/>
      </div>
    </div>
</div>

<div class="row">
    <div class="span12">
    <form class="form-horizontal">
      <legend>{{service.id}} settings</legend>

       {{#settings}}

        <div class="control-group">
          <div class="well">
            {{description}}
          </div>
          <div class="control-label" for="{{name}}">{{type}}: {{name}}</div>
          <div class="controls">
             <input type="text" id="input-{{name}}" value="{{value}}"/>
          </div>          
        </div>
 
      {{/settings}}

        <div class="control-group">
          <div class="controls">
            <button type="submit" cls="btn">Update</button>
          </div>
        </div>
      </form> 
</div>