{{> service-header}}
<div class="view-container">
<div class="collection">
  <div class="charm">
    {{{show_units units}}}
  </div>
</div>
<div id="destroy-modal-panel"></div>
</div>
<div class="service-view">
<div class="juju-service-info-container-bottom-menu">
  {{> service-footer-destroy-service}}
    <div class="filter-control">
      <div class="inline"><span>Filter</span></div>
      {{#states}}
      <div 
        class="inline {{position}} {{#if active}}active-{{position}}{{/if}}">
        <a href="{{link}}">
          <span class="state-title {{#if active}}active{{/if}}">{{title}}
          </span>
        </a>
      </div>
      {{/states}}
      <div class="inline">
        <img class="divider" 
             src="/juju-ui/assets/images/bottom_bar_big_div.png" />
      </div>
    </div>
  {{> service-footer-common-controls}}
</div>
</div>

