      <div class="row">
	<div class="span8">
	  <h1> Service {{service.id}}</h1>
	  <br/> <br/>
	  <div class="btn-group">
	    <button class="btn"><i class="icon-cog"></i> Settings </button>
	    <button class="btn"><i class="icon-th"></i> Constraints</button>
	    <a href="/charms/charms/{{charm.charm_name}}/json"
	       class="btn"><i class="icon-book"></i> Charm </a>
	    <button class="btn"><i class="icon-ban-circle"></i> Exposed </button>
	    <button class="btn"><i class="icon-random"></i> Relations </button>
	  </div>
	</div>
	<div class="span4">
	  <div class="well">
	    <span>
	      <b>Charm:</b>
	      <a href="/charms/charms/{{charm.charm_name}}/json">{{charm.id}}</a></span>
	    <br/>
	    <span> <b>Units:</b></span>
	    <br/>
	    <span> <b>Relations:</b></span>
	    <br/>
	    <span><b>Exposed:</b> {{service.exposed}}</span>
	    <br/>
	  </div>
	</div>
      </div>

      <div class="row">
	<!--
	<div class="span8">
	  <ul class="nav nav-tabs">
	    <li class="active"><h5>Units</h5></li>
	  </ul>
	</div> -->
	<div class="span12">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href=".">All</a></li>
	    <li><a href="?state=running">Running</a></li>
	    <li><a href="?state=pending">Pending</a></li>
	    <li><a href="?state=error">Error</a></li>
	  </ul>
	</div>
      </div>


      <div class="collection">
	<div class="charm">
	  <ul class="thumbnails">
	    {{#units}}
	    <li class="span3">
	      <div class="thumbnail well" id="{{id}}">
		<h5>{{id}}</h5>
		<span>{{agent_state}}</span> <br/>
		<span>{{public_address}}</span>
	      </div>
	    </li>
	    {{/units}}	    
	  </ul>
	</div>
      </div>

