<div class="unit" data-id="{{ id }}">
  {{#if container}}
  <div class="container">
    {{ container }}
  </div>
  {{/if}}
  <div class="unit-icon">
    <img src="">
  </div>
  <div class="title">
    {{ title }}
  </div>
  <div class="icons">
    <i class="sprite token-move"></i>
  </div>
  <!-- XXX these HTML selects (machines and containers) will likely need to be
       generated dynamically, rather than show/hidden -->
  <div class="machines" style="display: none;">
    <select placeholder="Move to&#8230;">
      <option value="new">New machine</option>
      {{#each machines}}
      <option value="{{id}}">{{displayName}}</option>
      {{/each}}
    </select>
  </div>
  <div class="containers" style="display: none;">
    <select placeholder="Choose location">
      {{#each containers}}
      <option value="{{id}}">{{displayName}}</option>
      {{/each}}
      <option value="new-lxc">new lxc</option>
      <option value="new-kvm">new kvm</option>
    </select>
  </div>
  <div class="actions" style="display: none;">
    <span class="cancel secondary-action">Cancel</span>
    <span class="move primary-action">Move</span>
  </div>
</div>
