<span>Scale out with these constraints?</span>
<span class="constraint-details hide-on-edit">
  {{#srvConstraints}}
    {{#if cpu-power}}
      {{cpu-power}}Ghz
    {{else}}
      default CPU power
    {{/if}}
    ,&nbsp;
    {{#if cpu-cores}}
      {{cpu-cores}} {{pluralize 'core' cpu-cores}}
    {{else}}
      default CPU cores
    {{/if}}
    ,&nbsp;
    {{#if mem}}
      {{mem}}MB
    {{else}}
      default memory
    {{/if}}
    ,&nbsp;
    {{#if root-disk}}
      {{root-disk}}
    {{else}}
      default disk
    {{/if}}
  {{/srvConstraints}}
  &nbsp;
  <a class="edit-constraints hide-on-edit">Edit</a>
</span>
<div class="edit-constraints-wrapper">
  <div class="editable-constraints" style="display: none;">
    {{> service-constraints-viewlet}}
  </div>
</div>
<div class="overview-constraints"></div>
<div class="inspector-buttons">
  <a class="cancel-num-units cancel-button">Cancel</a>
  <a class="confirm-num-units">Confirm</a>
</div>
