{{#unless relations}}
<h2>This service has no relations.</h2>
{{/unless}}
{{#relations}}
  <h3>{{far.service}}</h3>
  <h4>Interface: {{interface}}</h4>
  <h4>Name: {{display_name}}</h4>
  <h4>Role: {{near.role}}</h4>
  <h4>Scope: {{scope}}</h4>
  <div><!--unit list--></div>
{{/relations}}
