{{#units}}
    <li class="{{state_to_style agent_state}}">{{number}} | 
        {{unitState relation_errors agent_state}} | 
        <a href="/:gui:/unit/{{service}}-{{number}}">Details</a></li>
{{/units}}
