<div class="unplaced-unit">
  <div class="main">
  <span class="unit-icon">
    <img src="{{icon}}" alt="{{displayName}}">
  </span>
  <span class="title">
    {{ displayName }}
  </span>
  <span class="token-move">
    <i class="sprite mv-placement-arrow"></i>
  </span>
  </div>
  <!-- XXX these HTML selects (machines and containers) will likely need to be
       generated dynamically, rather than show/hidden -->
  <div class="machines hidden">
    <select placeholder="Move to&#8230;">
      <option value="new">New machine</option>
      {{#each machines}}
      <option value="{{id}}">{{displayName}}</option>
      {{/each}}
    </select>
  </div>
  <div class="containers hidden">
    <select placeholder="Choose location">
      {{#each containers}}
      <option value="{{id}}">{{displayName}}</option>
      {{/each}}
      <option value="new-lxc">new lxc</option>
      <option value="new-kvm">new kvm</option>
    </select>
  </div>
  <div class="actions hidden">
    <span class="cancel secondary-action">Cancel</span>
    <span class="move primary-action">Move</span>
  </div>
</div>
