<span>Scale up with these constraints?</span>
<span class="constraint-details hide-on-edit">
  {{#srvConstraints}}
    {{#if cpu}}
      {{cpu}}Ghz
    {{else}}
      Default CPU
    {{/if}}
    ,&nbsp;
    {{#if mem}}
      {{mem}}GB
    {{else}}
      default Mem
    {{/if}}
    ,&nbsp;
    {{#if arch}}
      {{arch}}
    {{else}}
      default Arch
    {{/if}}
  {{/srvConstraints}}
  &nbsp;
  <a class="edit-constraints hide-on-edit">Edit this</a>
</span>
<div class="edit-constraints-wrapper">
  <div class="editable-constraints" style="display: none;">
    {{> service-constraints-viewlet}}
  </div>
</div>
<div class="overview-constraints"></div>
<div class="inspector-buttons">
  <a class="cancel-num-units cancel-button">Cancel</a>
  <a class="confirm-num-units">Confirm</a>
</div>
