{{#unless relations}}
<div class="view-content">
    This service has no relations.
</div>
{{/unless}}
{{#relations}}
  <div class="relation-label {{relationStatus . ../errors}}">
    <h3>{{relationServiceName .}}</h3>
  </div>
  <h4>Interface: {{interface}}</h4>
  <h4>Name: {{near.name}}</h4>
  <h4>Role: {{near.role}}</h4>
  <h4>Scope: {{scope}}</h4>
  <div><!--unit list--></div>
{{/relations}}
