{{> service-header}}
<div class="row">
    <div class="span12">
    <form class="form-horizontal">
      <legend>{{service.id}} constraints</legend>

      {{#constraints}}
        <div class="control-group">
          <div class="control-label" for="{{name}}">{{name}}</div>
          <div class="controls">
             <input type="text" id="input-{{name}}" value="{{value}}"/>
          </div>          
        </div>
      {{/constraints}}

        <div class="control-group">
          <div class="controls">
            <button type="submit" cls="btn">Update</button>
          </div>
        </div>

      </form> 
</div>

</div>