{{> service-header}}
<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs">
      {{#states}}
      <li {{#if active}}class="active"{{/if}}>
        <a href="{{link}}">{{title}}</a>
      </li>
      {{/states}}
    </ul>
  </div>
</div>

<div class="collection">
  <div class="charm">
    {{{show_units units}}}
  </div>
</div>

<form>
  <div id="service-footer" class="btn-group">
    {{#unless charm.is_subordinate}}
      <span class="footer-left">
        Unit count:
        <input type="text" id="num-service-units" value="{{service.unit_count}}" />
        {{#if filtered}}
        (Filtered count: {{units.length}})
        {{/if}}
      </span>
    {{/unless}}
    <a class="footer-right btn" id="destroy-service" data-toggle="modal" href="#destroy-service-modal">Destroy Service</a>
  </div>
</form>

<div id="destroy-modal-panel"></div>
