{{> service-header}}
<div class="row-fluid">
    <div class="span12">
    <form class="form-horizontal">
      <legend>{{service.id}} constraints</legend>

      {{#readOnly}}
        <div class="control-group">
          <div class="control-label" for="{{name}}">{{name}}</div>
          <div class="controls">
            <div class="read-only">{{value}}</div>
          </div>
        </div>
      {{/readOnly}}

      {{#constraints}}
        <div class="control-group">
          <div class="control-label" for="{{name}}">{{name}}</div>
          <div class="controls">
             <input class="constraint-field" type="text" name="{{name}}"
                id="input-{{name}}" value="{{value}}"/>
          </div>          
        </div>
      {{/constraints}}

        <div class="control-group">
          <div class="controls">
            <button type="button" cls="btn" id="save-service-constraints">Update</button>
          </div>
        </div>

      </form> 
</div>

</div>
