{{> service-header}}
<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li class="active"><a href=".">All</a></li>
      <li><a href="?state=running">Running</a></li>
      <li><a href="?state=pending">Pending</a></li>
      <li><a href="?state=error">Error</a></li>
    </ul>
  </div>
</div>


<div class="collection">
  <div class="charm">
    <ul class="thumbnails">
      {{#units}}
      <li class="span3">
        <div class="thumbnail well" id="{{id}}">
          <h5>{{id}}</h5>
          <span>{{agent_state}}</span> <br/>
          <span>{{public_address}}</span>
        </div>
      </li>
      {{/units}}
    </ul>
  </div>
</div>

<form>
  <div id="service-footer" class="btn-group">
    {{#unless charm.is_subordinate}}
      <span class="footer-left">
        Unit count:
        <input type="text" id="num-service-units" value="{{service.unit_count}}" />
      </span>
    {{/unless}}
    <a class="footer-right btn" id="destroy-service" data-toggle="modal" href="#destroy-service-modal">Destroy Service</a>
  </div>
</form>

<div id="destroy-modal-panel"></div>
