<ul id="unit-large" class="thumbnails">
  {{#units}}
  <li class="span2">
    <div class="well unit {{state_to_style agent_state}}" id="{{id}}">
      <span class="agent-state">{{agent_state}}</span>
      <h5>{{number}}: {{unitState relation_errors agent_state}}</h5>
      <span>{{public_address}}</span>
    </div>
  </li>
  {{/units}}
</ul>
