<ul id="unit-medium" class="thumbnails">
  {{#units}}
  <li class="span2">
    <div class="well unit {{state_to_style agent_state}}"
      id="{{id}}"{{#if public_address}} title="{{public_address}}"{{/if}}>
      <span class="agent-state">{{unitState relation_errors agent_state}}</span>
      <h5>{{number}}: {{agent_state}}</h5>
    </div>
  </li>
  {{/units}}
</ul>
