<ul id="unit-large" class="thumbnails">
  {{#units}}
  <li class="span3">
    <div class="pull-right">
      {{landscapeBadge ../landscape . 'reboot' 'round'}}<br>
      {{landscapeBadge ../landscape . 'security' 'round'}}
    </div>
   <div class="well unit {{state_to_style agent_state}}" id="{{id}}">
     <span class="agent-state">{{agent_state}}</span>
      <h5>{{number}}: {{unitState relation_errors agent_state}}</h5>
      <span>{{public_address}}</span>
  </div>
 </li>
  {{/units}}
</ul>
