<ul id="unit-small" class="thumbnails">
  {{#units}}
  <li>
    <div class="well unit {{state_to_style agent_state}}" id="{{id}}"
      title="{{agent_state}}{{#if public_address}} - {{public_address}}{{/if}}">
      <span class="agent-state">{{unitState relation_errors agent_state}}</span>
      <h5>{{number}}</h5>
    </div>
  </li>
  {{/units}}
</ul>
