<ul id="unit-large" class="thumbnails yui3-g">
  {{#units}}
  <li class="yui3-u-1-8">
  <div class="well unit {{state_to_style agent_state}}" id="{{id}}">
     <span class="agent-state">{{agent_state}}</span>
      <h5>{{number}}: {{unitState relation_errors agent_state}}</h5>
      <span>{{public_address}}</span>
  </div>
 </li>
  {{/units}}
</ul>
