<div class="yui3-g">
  <div class="well yui3-u-1">
    <div class="unit-button-palette">
      <form>
        {{#if unit_error}}
          <button type="button" class="btn" id="resolved-unit-button">Resolved</button>
          <button type="button" class="btn" id="retry-unit-button">Retry</button>
        {{/if}}
        <button type="button" {{#if disabled_remove}}disabled="true"{{/if}}
         class="btn" id="remove-unit-button">Remove</button>
      </form>
    </div>
    <h1 id="unit-id">{{unit.displayName}} {{landscapeBadge landscape unit 'reboot' 'round'}}{{landscapeBadge landscape unit 'security' 'round'}}</h1>
    <b id="charm-uri">
      <a href="{{charmUri}}">{{charm.id}}</a>
    </span>
    {{#if unit.is_subordinate}} (subordinate){{/if}}
    <div id="unit-status">
      {{unit_ip_description}}
      {{#unit_ip_description}}|{{/unit_ip_description}}
      {{#if unit_running}}
        <span class="running">&#x25B6;</span>
      {{/if}}
      {{#if unit_pending}}
        <span class="pending">&#x2b24;</span>
      {{/if}}
      {{#if unit_error}}
        <span class="error">&#x2b1b;</span>
      {{/if}}
      {{unit.agent_state}}
    </div>
  </div>
<div>

<div class="yui3-g">
  <div class="yui3-u-1">
    <h2 id="machine-name">&#x2637; Machine {{unit.machine}}</h2>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <th>agent-state</th>
          <td id="machine-agent-state">{{machine.agent_state}}</td>
        </tr>
        <tr>
          <th>instance-id</th>
          <td id="machine-instance-id">{{machine.instance_id}}</td>
        </tr>
        <tr>
          <th>public-address</th>
          <td id="machine-public-address">{{machine.public_address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{#unless relations}}
This unit has no relations.
{{else}}
<div id="relations" class="yui3-g">
  <div class="yui3-u-1">
    <h2>&#x26B9; Relations</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>endpoint</th>
          <th>name</th>
          <th>role</th>
          <th>scope</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        {{#relations}}
          <tr {{#if highlight}}class="highlighted"{{/if}} id="{{relation_id}}">
            <td class="relation-ident">{{ident}}</td>
            <td class="relation-endpoint">
              {{#if far}}
              <a href="{{../../serviceRootUri}}{{far.service}}/relations">{{far.service}}</a>
              {{else}}
              (self)
              {{/if}}
            </td>
            <td class="relation-name">{{near.name}}</td>
            <td class="relation-role">{{near.role}}</td>
            <td class="relation-scope">{{scope}}</td>
            <td class="relation-status">
              {{#if has_error}}
              <span class="error">&#x2b1b;</span> error
              <div class="unit-button-palette">
                <form id="{{near.name}}">
                <button type="button" class="btn resolved-relation-button"
                  >Resolved</button>
                <button type="button" class="btn retry-relation-button"
                  >Retry</button>
                </form>
              </div>
              {{/if}}
            </td>
          </tr>
        {{/relations}}
      </tbody>
    </table>
  </div>
</div>
{{/unless}}
<div class="yui3-g">
    <div class="bottom-navbar">
        {{> landscape-controls }}
    </div>
</div>

<div id="resolved-modal-panel"></div>
<div id="remove-modal-panel"></div>
<div id="resolved-relation-modal-panel"></div>
