<div class="unit-overview">
    <div class="header">
        <h2><span class="">&bull;</span> <span data-bind="displayName"></span></h2>
        <ul class="unit-stats content">
            <li>IP Address: <span data-bind="private_address"></span></li>
            <li>Status: <span data-bind="agent_state"></span></li>
            <li data-bind="agent_state_info">Status Info: <span></span></li>
            <li>Public Address: <span data-bind="public_address"></span></li>
            <li data-bind="annotations.landscape-computer">
              <a class="landscape" target="_blank">Open Landscape</a>
            </li>
        </ul>
    </div>
    <div class="unit-info-tabs content">
        <div class="unit-info-relations">
            <h3>Relations</h3>
            {{#if relations}}
            <table>
              <thead>
                <tr>
                  <th>id</th>
                  <th>endpoint</th>
                  <th>name</th>
                  <th>role</th>
                  <th>scope</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                {{#relations}}
                  <tr>
                    <td class="relation-ident">{{ident}}</td>
                    <td class="relation-endpoint">
                      {{#if far}}
                      {{far.service}}
                      {{else}}
                      (self)
                      {{/if}}
                    </td>
                    <td class="relation-name">{{near.name}}</td>
                    <td class="relation-role">{{near.role}}</td>
                    <td class="relation-scope">{{scope}}</td>
                    <td class="relation-status">
                      {{#if has_error}}
                      <span class="error">&#x2b1b;</span> error
                      <div class="unit-button-palette">
                        <form id="{{near.name}}">
                        <button type="button" class="btn resolved-relation-button"
                          value="{{relation_id}}">Resolved</button>
                        <button type="button" class="btn retry-relation-button"
                          value="{{relation_id}}">Retry</button>
                        </form>
                      </div>
                      {{/if}}
                    </td>
                  </tr>
                {{/relations}}
              </tbody>
            </table>
            {{else}}
            Unit has no relations
            {{/if}}
        </div>
    </div>
</div>
