<br/> FIXME: The HTML is broken.  All pages have their tops cut off.
<br/>
<br/>
<br/>

<div class="row">
  <div class="well">
    <h1>{{unit.id}}</h1>
    <b>{{service.charm}}</b>
    {{#unit.is_subordinate}} (subordinate){{/unit.is_subordinate}}
    <div>
      {{unit.ip_description}}
      {{#unit.ip_description}}|{{/unit.ip_description}}
      {{#unit.running}}
        <span style="color: green">&#x25B6;</span>
      {{/unit.running}}
      {{^unit.running}}
        <span style="color: red">&#x2b1b;</span>
      {{/unit.running}}
      {{unit.agent_state}}
    </div>
  </div>
<div>

<div class="row">
  <div class="span12">
    <h2>☷ Machine {{unit.machine}}</h2>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <th>agent-state</th>
          <td>{{machine.agent_state}}</td>
        </tr>
        <tr>
          <th>instance-id</th>
          <td>{{machine.instance_id}}</td>
        </tr>
        <tr>
          <th>instance-state</th>
          <td>{{machine.instance_state}}</td>
        </tr>
        <tr>
          <th>public-address</th>
          <td>{{machine.public_address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
